html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}audio,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}img{border:0}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=submit]{-webkit-appearance:button;cursor:pointer;box-sizing:border-box}input[type=text]{-webkit-appearance:none;appearance: none;box-sizing:border-box}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;box-sizing:border-box;border-color:#ddd}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

body,div{font-size:0;}
p, span,h1,h2,h3,h4,h5,h6{margin:0;word-spacing:normal;word-wrap:break-word;-ms-word-wrap:break-word;pointer-events:auto;}
sup{font-size:inherit;vertical-align:baseline;position:relative;top:-0.4em;}
sub{font-size:inherit;vertical-align:baseline;position:relative;top:0.4em;}
ul{display:block;word-spacing:normal;word-wrap:break-word;list-style-type:none;margin:0;-moz-padding-start:0;-khtml-padding-start:0;-webkit-padding-start:0;-o-padding-start:0;-padding-start:0;-webkit-margin-before:0;-webkit-margin-after:0;}
li{display:block;}
li p{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select::none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
form{display:inline-block;}
a{text-decoration:inherit;color:inherit;-webkit-tap-highlight-color:rgba(0,0,0,0);}
textarea{resize:none;}
.shm-l{float:left;clear:left;}
.shm-r{float:right;clear:right;}
.whitespacefix{word-spacing:-1px;}
video:not(#video_background):not(.videoinline){width:100%;max-width:900px;}
video:-webkit-full-screen{max-width:100% !important;}
video:-moz-full-screen{max-width:100% !important;}
video:-ms-fullscreen{max-width:100% !important;}
video:fullscreen{max-width:100% !important;}
.player1.fullscreen1-active video{max-width:100% !important;}
html { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
#body{background-color:rgb(236,236,236);}
.pos{position:relative;margin-top:178px;}
.vis{display:block;vertical-align:top;}
.section{pointer-events:none;min-width:1200px;width:1200px;margin-left:auto;margin-right:auto;}
.vis-2{display:inline-block;vertical-align:top;}
.pos-2{position:relative;margin-left:78px;margin-top:0;}
.size{min-width:1122px;width:1122px;min-height:570px;}
.pos-3{position:relative;margin-left:0;margin-top:129px;}
.size-2{min-width:750px;width:750px;min-height:399px;}
.colwrapper{line-height:0;}
.vis-3{display:inline-block;vertical-align:top;overflow:hidden;}
.pos-4{position:relative;margin-left:0;margin-top:0;}
.size-3{min-width:750px;width:750px;min-height:58px;height:58px;}
.cont-2{z-index:2;pointer-events:auto;}
.para{padding-top:0;text-indent:0;padding-right:0;text-align:left;}
.font{font-family:Roboto;font-size:60px;font-weight:500;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:57px;letter-spacing:normal;text-shadow:none;}
.pos-5{position:relative;margin-left:0;margin-top:5px;}
.size-4{min-width:246px;width:246px;min-height:41px;height:41px;}
.cont-3{z-index:3;pointer-events:auto;}
.font-2{font-family:Roboto;font-size:22px;font-weight:400;font-style:italic;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:37px;letter-spacing:normal;text-shadow:none;}
.pos-6{position:relative;margin-left:0;margin-top:33px;}
.size-5{min-width:635px;width:635px;min-height:206px;height:206px;}
.cont-4{z-index:4;pointer-events:auto;}
.para-2{padding-top:0;text-indent:0;padding-right:0;text-align:justify;}
.font-3{font-family:Athelas, serif;font-size:22px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:29px;letter-spacing:normal;text-shadow:none;}
.pos-7{position:relative;margin-left:0;margin-top:18px;}
.size-6{min-width:401px;width:401px;min-height:38px;}
.cont-5{z-index:5;pointer-events:auto;}
.button{border:0;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;background-color:rgba(0,0,0,0.964414);}
.button:hover{background-color:rgb(140,53,52);border-color:rgb(64,64,64);color:rgb(236,236,236);}
.button:active{background-color:rgb(140,53,52);border-color:rgb(64,64,64);color:rgb(255,255,255);}
.vis-4{display:inline-block;overflow:hidden;outline:0;}
.size-7{width:401px;height:21px;}
.font-4{font-family:Roboto;font-size:18px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(236,236,236);line-height:initial;letter-spacing:normal;text-shadow:none;text-indent:0;text-align:center;padding-top:8px;padding-bottom:9px;margin-top:0;margin-bottom:0;}
.pos-9{position:relative;margin-left:635px;margin-top:-528px;}
.size-8{min-width:487px;width:487px;min-height:570px;height:570px;}
.cont-6{z-index:1;pointer-events:auto;}
.img{position:absolute;left:0;width:487px;height:489px;top:41px;border:0;}
.img-2{left:0;width:487px;height:489px;top:41px;display:inline-block;}
@media (min-width:960px) and (max-width:1199px) {
.pos{margin-top:232px;}
.section{min-width:960px;width:960px;}
.pos-2{margin-left:62px;}
.size{min-width:876px;width:876px;min-height:397px;}
.pos-3{margin-top:60px;}
.size-2{min-width:508px;width:508px;min-height:337px;}
.size-3{min-width:290px;width:290px;min-height:45px;height:45px;}
.font{font-size:48px;color:rgba(0,0,0,0.964414);line-height:45px;}
.pos-5{margin-left:-290px;margin-top:49px;}
.size-4{min-width:197px;width:197px;min-height:33px;height:33px;}
.font-2{font-size:18px;color:rgba(0,0,0,0.964414);line-height:29px;}
.pos-6{margin-top:22px;}
.size-5{min-width:508px;width:508px;min-height:165px;height:165px;}
.font-3{font-size:18px;color:rgba(0,0,0,0.964414);line-height:24px;}
.pos-7{margin-top:37px;}
.size-6{min-width:357px;width:357px;min-height:31px;}
.size-7{width:357px;height:19px;}
.font-4{font-size:16px;padding-top:6px;padding-bottom:6px;}
.pos-9{margin-left:22px;margin-top:0;}
.size-8{min-width:346px;width:346px;min-height:344px;height:344px;}
.img{left:1px;width:343px;height:344px;top:0;}
.img-2{left:1px;width:343px;height:344px;top:0;}
}
@media (min-width:768px) and (max-width:959px) {
.pos{margin-top:186px;}
.section{min-width:768px;width:768px;}
.pos-2{margin-left:50px;}
.size{min-width:700px;width:700px;min-height:317px;}
.pos-3{margin-top:48px;}
.size-2{min-width:406px;width:406px;min-height:269px;}
.size-3{min-width:232px;width:232px;min-height:36px;height:36px;}
.font{font-size:38px;color:rgba(0,0,0,0.964414);line-height:35px;}
.pos-5{margin-left:-232px;margin-top:39px;}
.size-4{min-width:157px;width:157px;min-height:26px;height:26px;}
.font-2{font-size:14px;color:rgba(0,0,0,0.964414);line-height:23px;}
.pos-6{margin-top:18px;}
.size-5{min-width:406px;width:406px;min-height:132px;height:132px;}
.font-3{font-size:14px;color:rgba(0,0,0,0.964414);line-height:19px;}
.pos-7{margin-top:29px;}
.size-6{min-width:285px;width:285px;min-height:25px;}
.size-7{width:285px;height:14px;}
.font-4{font-size:12px;padding-top:5px;padding-bottom:6px;}
.pos-9{margin-left:18px;margin-top:0;}
.size-8{min-width:276px;width:276px;min-height:275px;height:275px;}
.img{left:1px;width:274px;height:275px;top:0;}
.img-2{left:1px;width:274px;height:275px;top:0;}
}
@media (min-width:480px) and (max-width:767px) {
.pos{margin-top:17px;}
.section{min-width:480px;width:480px;}
.pos-2{margin-left:80px;}
.size{min-width:320px;width:320px;min-height:558px;}
.pos-3{margin-top:309px;}
.size-2{min-width:320px;width:320px;min-height:249px;}
.size-3{min-width:226px;width:226px;min-height:38px;height:38px;}
.font{font-size:36px;color:rgba(0,0,0,0.964414);line-height:34px;}
.pos-5{margin-top:0;}
.size-4{min-width:152px;width:152px;min-height:23px;height:23px;}
.font-2{font-size:14px;color:rgba(0,0,0,0.964414);line-height:23px;}
.pos-6{margin-top:12px;}
.size-5{min-width:320px;width:320px;min-height:133px;height:133px;}
.font-3{font-size:14px;color:rgba(0,0,0,0.964414);line-height:19px;}
.pos-7{margin-top:14px;}
.size-6{min-width:307px;width:307px;min-height:29px;}
.size-7{width:307px;height:16px;}
.font-4{font-size:14px;padding-top:6px;padding-bottom:7px;}
.pos-9{margin-left:15px;margin-top:-558px;}
.size-8{min-width:291px;width:291px;min-height:290px;height:290px;}
.img{left:1px;width:289px;height:290px;top:0;}
.img-2{left:1px;width:289px;height:290px;top:0;}
}
@media (max-width:479px) {
.pos{margin-top:11px;}
.section{min-width:320px;width:320px;}
.pos-2{margin-left:53px;}
.size{min-width:214px;width:214px;min-height:405px;}
.pos-3{margin-top:206px;}
.size-2{min-width:214px;width:214px;min-height:199px;}
.size-3{min-width:151px;width:151px;min-height:26px;height:26px;}
.font{font-size:24px;color:rgba(0,0,0,0.964414);line-height:23px;}
.pos-5{margin-top:0;}
.size-4{min-width:102px;width:102px;min-height:16px;height:16px;}
.font-2{font-size:10px;color:rgba(0,0,0,0.964414);line-height:16px;}
.pos-6{margin-top:7px;}
.size-5{min-width:214px;width:214px;min-height:120px;height:120px;}
.font-3{font-size:11px;color:rgba(0,0,0,0.964414);line-height:15px;}
.pos-7{margin-top:11px;}
.size-6{min-width:194px;width:194px;min-height:19px;}
.size-7{width:194px;height:10px;}
.font-4{font-size:9px;padding-top:4px;padding-bottom:5px;}
.pos-9{margin-left:10px;margin-top:-405px;}
.size-8{min-width:194px;width:194px;min-height:194px;height:194px;}
.img{width:194px;height:194px;top:0;}
.img-2{width:194px;height:194px;top:0;}
}
.pos-10{position:relative;margin-top:0;}
.pos-11{position:relative;margin-left:13px;margin-top:0;}
.size-9{min-width:1111px;width:1111px;min-height:1449px;}
.pos-12{position:relative;margin-left:0;margin-top:96px;}
.size-10{min-width:80px;width:80px;min-height:79px;}
.size-11{min-width:28px;width:28px;min-height:30px;height:30px;}
.anchor{display:block;}
.img-3{position:absolute;left:0;width:28px;height:29px;top:0;border:0;}
.img-4{left:0;width:28px;height:29px;top:0;display:inline-block;}
.pos-13{position:relative;margin-left:0;margin-top:3px;}
.size-12{min-width:80px;width:80px;min-height:46px;height:46px;}
.cont-7{z-index:10;pointer-events:auto;}
.font-5{font-family:Roboto;font-size:20px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgba(0,0,0,0.964414);background-color:initial;line-height:33px;letter-spacing:normal;text-shadow:none;}
.pos-14{position:relative;margin-left:-27px;margin-top:101px;}
.size-13{min-width:947px;width:947px;min-height:1348px;}
.pos-15{position:relative;margin-left:27px;margin-top:0;}
.size-14{min-width:750px;width:750px;min-height:56px;height:56px;}
.font-6{font-family:Roboto;font-size:40px;font-weight:500;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:38px;letter-spacing:normal;text-shadow:none;}
.pos-16{position:relative;margin-left:27px;margin-top:45px;}
.size-15{min-width:750px;width:750px;min-height:43px;height:43px;}
.cont-8{z-index:16;pointer-events:auto;}
.font-7{font-family:Roboto;font-size:36px;font-weight:500;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:34px;letter-spacing:normal;text-shadow:none;}
.pos-17{position:relative;margin-left:27px;margin-top:21px;}
.size-16{min-width:710px;width:710px;min-height:68px;height:68px;}
.font-8{font-family:Athelas, serif;font-size:22px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:29px;letter-spacing:normal;text-shadow:none;}
.pos-18{position:relative;margin-left:27px;margin-top:40px;}
.size-17{min-width:454px;width:454px;min-height:39px;height:39px;}
.pos-19{position:relative;margin-left:29px;margin-top:23px;}
.size-18{min-width:710px;width:710px;min-height:126px;height:126px;}
.cont-9{z-index:6;pointer-events:auto;}
.pos-20{position:relative;margin-left:26px;margin-top:38px;}
.size-19{min-width:270px;width:270px;min-height:37px;height:37px;}
.cont-10{z-index:7;pointer-events:auto;}
.font-9{font-family:Roboto;font-size:34px;font-weight:500;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:32px;letter-spacing:normal;text-shadow:none;}
.pos-21{position:relative;margin-left:27px;margin-top:22px;}
.size-20{min-width:710px;width:710px;min-height:30px;height:30px;}
.cont-11{z-index:8;pointer-events:auto;}
.pos-22{position:relative;margin-left:26px;margin-top:37px;}
.size-21{min-width:372px;width:372px;min-height:42px;height:42px;}
.cont-12{z-index:9;pointer-events:auto;}
.pos-23{position:relative;margin-left:29px;margin-top:25px;}
.size-22{min-width:710px;width:710px;min-height:88px;height:88px;}
.cont-13{z-index:11;pointer-events:auto;}
.pos-24{position:relative;margin-left:29px;margin-top:40px;}
.size-23{min-width:750px;width:750px;min-height:38px;height:38px;}
.cont-14{z-index:17;pointer-events:auto;}
.pos-25{position:relative;margin-left:26px;margin-top:24px;}
.size-24{min-width:710px;width:710px;min-height:68px;height:68px;}
.cont-15{z-index:12;pointer-events:auto;}
.pos-26{position:relative;margin-left:82px;margin-top:112px;}
.size-25{min-width:385px;width:385px;min-height:40px;}
.pos-27{position:relative;margin-left:0;margin-top:1px;}
.size-26{min-width:35px;width:35px;min-height:37px;height:37px;}
.cont-16{z-index:13;pointer-events:auto;}
.img-5{position:absolute;left:0;width:35px;height:36px;top:0;border:0;}
.img-6{left:0;width:35px;height:36px;top:0;display:inline-block;}
.pos-28{position:relative;margin-left:47px;margin-top:0;}
.size-27{min-width:38px;width:38px;min-height:40px;height:40px;}
.cont-17{z-index:14;pointer-events:auto;}
.img-7{position:absolute;left:0;width:38px;height:39px;top:0;border:0;}
.img-8{left:0;width:38px;height:39px;top:0;display:inline-block;}
.pos-29{position:relative;margin-left:50px;margin-top:0;}
.size-28{min-width:37px;width:37px;min-height:40px;height:40px;}
.cont-18{z-index:15;pointer-events:auto;}
.img-9{position:absolute;left:0;width:37px;height:38px;top:1px;border:0;}
.img-10{left:0;width:37px;height:38px;top:1px;display:inline-block;}
.pos-30{position:relative;margin-left:55px;margin-top:1px;}
.size-29{min-width:38px;width:38px;min-height:37px;height:37px;}
.cont-19{z-index:18;pointer-events:auto;}
.img-11{position:absolute;left:0;width:38px;height:37px;top:0;border:0;}
.img-12{left:0;width:38px;height:37px;top:0;display:inline-block;}
.pos-31{position:relative;margin-left:47px;margin-top:1px;}
.cont-20{z-index:19;pointer-events:auto;}
.pos-32{position:relative;margin-left:0;margin-top:17px;}
.size-30{min-width:947px;width:947px;min-height:229px;height:229px;}
.cont-21{z-index:20;pointer-events:auto;}
.img-13{position:absolute;left:10px;width:927px;height:229px;top:0;border:0;}
.img-14{left:10px;width:927px;height:229px;top:0;display:inline-block;}
.pos-33{position:relative;margin-left:216px;margin-top:-1449px;}
.size-31{min-width:895px;width:895px;min-height:1354px;}
.size-32{min-width:895px;width:895px;min-height:1266px;height:1266px;}
.img-15{position:absolute;left:0;width:895px;height:1266px;top:0;border:0;}
.img-16{left:0;width:895px;height:1266px;top:0;display:inline-block;}
.pos-34{position:relative;margin-left:459px;margin-top:10px;}
.size-33{min-width:400px;width:400px;min-height:78px;height:78px;}
.cont-22{z-index:21;pointer-events:auto;}
.img-17{position:absolute;left:0;width:400px;height:78px;top:0;border:0;}
.img-18{left:0;width:400px;height:78px;top:0;display:inline-block;}
@media (min-width:960px) and (max-width:1199px) {
.pos-11{margin-left:10px;}
.size-9{min-width:889px;width:889px;min-height:1159px;}
.pos-12{margin-top:77px;}
.size-10{min-width:64px;width:64px;min-height:63px;}
.size-11{min-width:23px;width:23px;min-height:24px;height:24px;}
.img-3{width:23px;height:24px;}
.img-4{width:23px;height:24px;}
.pos-13{margin-top:2px;}
.size-12{min-width:64px;width:64px;min-height:37px;height:37px;}
.font-5{font-size:16px;line-height:26px;}
.pos-14{margin-left:-21px;margin-top:74px;}
.size-13{min-width:757px;width:757px;min-height:1085px;}
.pos-15{margin-left:60px;}
.size-14{min-width:163px;width:163px;min-height:48px;height:48px;}
.font-6{font-size:36px;color:rgba(0,0,0,0.964414);line-height:34px;}
.pos-16{margin-left:60px;margin-top:17px;}
.size-15{min-width:568px;width:568px;min-height:30px;height:30px;}
.font-7{font-size:26px;color:rgba(0,0,0,0.964414);line-height:24px;}
.pos-17{margin-left:60px;margin-top:11px;}
.size-16{min-width:568px;width:568px;min-height:54px;height:54px;}
.font-8{font-size:18px;color:rgba(0,0,0,0.964414);line-height:24px;}
.pos-18{margin-left:60px;margin-top:35px;}
.size-17{min-width:568px;width:568px;min-height:30px;height:30px;}
.pos-19{margin-left:60px;margin-top:11px;}
.size-18{min-width:568px;width:568px;min-height:100px;height:100px;}
.pos-20{margin-left:60px;}
.size-19{min-width:568px;width:568px;min-height:30px;height:30px;}
.font-9{font-size:26px;color:rgba(0,0,0,0.964414);line-height:24px;}
.pos-21{margin-left:60px;margin-top:11px;}
.size-20{min-width:568px;width:568px;}
.pos-22{margin-left:60px;margin-top:34px;}
.size-21{min-width:568px;width:568px;min-height:30px;height:30px;}
.pos-23{margin-left:60px;margin-top:11px;}
.size-22{min-width:568px;width:568px;min-height:72px;height:72px;}
.pos-24{margin-left:60px;margin-top:36px;}
.size-23{min-width:568px;width:568px;min-height:30px;height:30px;}
.pos-25{margin-left:60px;margin-top:11px;}
.size-24{min-width:568px;width:568px;min-height:72px;height:72px;}
.pos-26{margin-left:65px;margin-top:115px;}
.size-25{min-width:308px;width:308px;min-height:32px;}
.size-26{min-width:28px;width:28px;min-height:30px;height:30px;}
.img-5{width:28px;height:29px;}
.img-6{width:28px;height:29px;}
.pos-28{margin-left:38px;}
.size-27{min-width:30px;width:30px;min-height:32px;height:32px;}
.img-7{width:30px;height:31px;}
.img-8{width:30px;height:31px;}
.pos-29{margin-left:40px;}
.size-28{min-width:30px;width:30px;min-height:32px;height:32px;}
.img-9{width:30px;height:31px;top:0;}
.img-10{width:30px;height:31px;top:0;}
.pos-30{margin-left:44px;}
.size-29{min-width:30px;width:30px;min-height:30px;height:30px;}
.img-11{width:30px;height:30px;}
.img-12{width:30px;height:30px;}
.pos-31{margin-left:38px;}
.pos-32{margin-top:14px;}
.size-30{min-width:757px;width:757px;min-height:183px;height:183px;}
.img-13{left:8px;width:741px;height:183px;}
.img-14{left:8px;width:741px;height:183px;}
.pos-33{margin-left:173px;margin-top:-1159px;}
.size-31{min-width:716px;width:716px;min-height:1083px;}
.size-32{min-width:716px;width:716px;min-height:1013px;height:1013px;}
.img-15{width:716px;height:1013px;}
.img-16{width:716px;height:1013px;}
.pos-34{margin-left:367px;margin-top:8px;}
.size-33{min-width:320px;width:320px;min-height:62px;height:62px;}
.img-17{width:319px;height:62px;}
.img-18{width:319px;height:62px;}
}
@media (min-width:768px) and (max-width:959px) {
.pos-11{margin-left:8px;}
.size-9{min-width:711px;width:711px;min-height:927px;}
.pos-12{margin-top:62px;}
.size-10{min-width:51px;width:51px;min-height:50px;}
.size-11{min-width:18px;width:18px;min-height:19px;height:19px;}
.img-3{width:18px;height:19px;}
.img-4{width:18px;height:19px;}
.pos-13{margin-top:1px;}
.size-12{min-width:51px;width:51px;min-height:30px;height:30px;}
.font-5{font-size:12px;line-height:20px;}
.pos-14{margin-left:-17px;margin-top:59px;}
.size-13{min-width:606px;width:606px;min-height:868px;}
.pos-15{margin-left:48px;}
.size-14{min-width:131px;width:131px;min-height:39px;height:39px;}
.font-6{font-size:28px;color:rgba(0,0,0,0.964414);line-height:26px;}
.pos-16{margin-left:48px;margin-top:13px;}
.size-15{min-width:455px;width:455px;min-height:24px;height:24px;}
.font-7{font-size:20px;color:rgba(0,0,0,0.964414);line-height:19px;}
.pos-17{margin-left:48px;margin-top:9px;}
.size-16{min-width:455px;width:455px;min-height:43px;height:43px;}
.font-8{font-size:14px;color:rgba(0,0,0,0.964414);line-height:19px;}
.pos-18{margin-left:48px;margin-top:28px;}
.size-17{min-width:455px;width:455px;min-height:24px;height:24px;}
.pos-19{margin-left:48px;margin-top:9px;}
.size-18{min-width:455px;width:455px;min-height:80px;height:80px;}
.pos-20{margin-left:48px;margin-top:30px;}
.size-19{min-width:455px;width:455px;min-height:24px;height:24px;}
.font-9{font-size:20px;color:rgba(0,0,0,0.964414);line-height:19px;}
.pos-21{margin-left:48px;margin-top:9px;}
.size-20{min-width:455px;width:455px;min-height:24px;height:24px;}
.pos-22{margin-left:48px;margin-top:27px;}
.size-21{min-width:455px;width:455px;min-height:24px;height:24px;}
.pos-23{margin-left:48px;margin-top:9px;}
.size-22{min-width:455px;width:455px;min-height:58px;height:58px;}
.pos-24{margin-left:48px;margin-top:29px;}
.size-23{min-width:455px;width:455px;min-height:24px;height:24px;}
.pos-25{margin-left:48px;margin-top:8px;}
.size-24{min-width:455px;width:455px;min-height:58px;height:58px;}
.pos-26{margin-left:52px;margin-top:92px;}
.size-25{min-width:247px;width:247px;min-height:26px;}
.size-26{min-width:23px;width:23px;min-height:24px;height:24px;}
.img-5{width:23px;height:24px;}
.img-6{width:23px;height:24px;}
.pos-28{margin-left:30px;}
.size-27{min-width:24px;width:24px;min-height:26px;height:26px;}
.img-7{width:24px;height:25px;}
.img-8{width:24px;height:25px;}
.pos-29{margin-left:32px;}
.size-28{min-width:24px;width:24px;min-height:26px;height:26px;}
.img-9{width:24px;height:25px;top:0;}
.img-10{width:24px;height:25px;top:0;}
.pos-30{margin-left:35px;}
.size-29{min-width:24px;width:24px;min-height:24px;height:24px;}
.img-11{width:24px;height:24px;}
.img-12{width:24px;height:24px;}
.pos-31{margin-left:31px;}
.pos-32{margin-top:11px;}
.size-30{min-width:606px;width:606px;min-height:146px;height:146px;}
.img-13{left:7px;width:591px;height:146px;}
.img-14{left:7px;width:591px;height:146px;}
.pos-33{margin-left:138px;margin-top:-927px;}
.size-31{min-width:573px;width:573px;min-height:866px;}
.size-32{min-width:573px;width:573px;min-height:810px;height:810px;}
.img-15{width:573px;height:810px;}
.img-16{width:573px;height:810px;}
.pos-34{margin-left:294px;margin-top:7px;}
.size-33{min-width:256px;width:256px;min-height:49px;height:49px;}
.img-17{left:2px;width:252px;height:49px;}
.img-18{left:2px;width:252px;height:49px;}
}
@media (min-width:480px) and (max-width:767px) {
.pos-11{margin-left:0;}
.size-9{min-width:480px;width:480px;min-height:719px;}
.pos-12{margin-left:5px;margin-top:17px;}
.size-10{min-width:32px;width:32px;min-height:35px;}
.size-11{min-width:14px;width:14px;min-height:15px;height:15px;}
.img-3{width:14px;height:15px;}
.img-4{width:14px;height:15px;}
.pos-13{margin-top:1px;}
.size-12{min-width:32px;width:32px;min-height:19px;height:19px;}
.font-5{font-size:9px;line-height:15px;}
.pos-14{margin-left:14px;margin-top:17px;}
.size-13{min-width:379px;width:379px;min-height:702px;}
.pos-15{margin-left:5px;}
.size-14{min-width:82px;width:82px;min-height:24px;height:24px;}
.font-6{font-size:20px;color:rgba(0,0,0,0.964414);line-height:19px;}
.pos-16{margin-left:5px;margin-top:15px;}
.size-15{min-width:321px;width:321px;min-height:38px;height:38px;}
.font-7{font-size:20px;color:rgba(0,0,0,0.964414);line-height:19px;}
.pos-17{margin-left:5px;margin-top:6px;}
.size-16{min-width:321px;width:321px;min-height:60px;height:60px;}
.font-8{font-size:14px;color:rgba(0,0,0,0.964414);line-height:19px;}
.pos-18{margin-left:5px;margin-top:16px;}
.size-17{min-width:285px;width:285px;min-height:22px;height:22px;}
.pos-19{margin-left:5px;margin-top:6px;}
.size-18{min-width:323px;width:323px;min-height:117px;height:117px;}
.pos-20{margin-left:5px;margin-top:14px;}
.size-19{min-width:285px;width:285px;min-height:21px;height:21px;}
.font-9{font-size:20px;color:rgba(0,0,0,0.964414);line-height:19px;}
.pos-21{margin-left:5px;margin-top:6px;}
.size-20{min-width:322px;width:322px;min-height:22px;height:22px;}
.pos-22{margin-left:5px;margin-top:13px;}
.size-21{min-width:285px;width:285px;min-height:20px;height:20px;}
.pos-23{margin-left:5px;margin-top:6px;}
.size-22{min-width:321px;width:321px;min-height:76px;height:76px;}
.pos-24{margin-left:5px;margin-top:11px;}
.size-23{min-width:285px;width:285px;min-height:19px;height:19px;}
.pos-25{margin-left:5px;margin-top:6px;}
.size-24{min-width:321px;width:321px;min-height:42px;height:42px;}
.pos-26{margin-left:12px;margin-top:28px;}
.size-25{min-width:129px;width:129px;min-height:19px;}
.pos-27{margin-top:0;}
.size-26{min-width:18px;width:18px;min-height:18px;height:18px;}
.img-5{width:18px;height:18px;}
.img-6{width:18px;height:18px;}
.pos-28{margin-left:9px;}
.size-27{min-width:19px;width:19px;min-height:18px;height:18px;}
.img-7{width:19px;height:18px;}
.img-8{width:19px;height:18px;}
.pos-29{margin-left:9px;}
.size-28{min-width:17px;width:17px;min-height:18px;height:18px;}
.img-9{width:17px;height:18px;top:0;}
.img-10{width:17px;height:18px;top:0;}
.pos-30{margin-left:10px;}
.size-29{min-width:18px;width:18px;min-height:18px;height:18px;}
.img-11{width:18px;height:18px;}
.img-12{width:18px;height:18px;}
.pos-31{margin-left:11px;}
.pos-32{margin-top:4px;}
.size-30{min-width:379px;width:379px;min-height:91px;height:91px;}
.img-13{left:5px;width:369px;height:91px;}
.img-14{left:5px;width:369px;height:91px;}
.pos-33{margin-left:0;margin-top:-719px;}
.size-31{min-width:480px;width:480px;min-height:676px;}
.size-32{min-width:480px;width:480px;min-height:661px;height:661px;}
.img-15{left:6px;width:468px;height:661px;}
.img-16{left:6px;width:468px;height:661px;}
.pos-34{margin-left:284px;margin-top:-15px;}
.size-33{min-width:160px;width:160px;min-height:30px;height:30px;}
.img-17{left:3px;width:155px;height:30px;}
.img-18{left:3px;width:155px;height:30px;}
}
@media (max-width:479px) {
.pos-10{margin-top:15px;}
.pos-11{margin-left:9px;}
.size-9{min-width:311px;width:311px;min-height:457px;}
.pos-12{margin-top:16px;}
.size-10{min-width:22px;width:22px;min-height:26px;}
.size-11{min-width:12px;width:12px;min-height:11px;height:11px;}
.img-3{width:12px;height:11px;}
.img-4{width:12px;height:11px;}
.pos-13{margin-top:2px;}
.size-12{min-width:22px;width:22px;min-height:13px;height:13px;}
.font-5{font-size:6px;line-height:10px;}
.pos-14{margin-left:-12px;margin-top:12px;}
.size-13{min-width:253px;width:253px;min-height:445px;}
.pos-15{margin-left:18px;}
.size-14{min-width:55px;width:55px;min-height:16px;height:16px;}
.font-6{font-size:13px;color:rgba(0,0,0,0.964414);line-height:13px;}
.pos-16{margin-left:18px;margin-top:10px;}
.size-15{min-width:214px;width:214px;min-height:26px;height:26px;}
.font-7{font-size:13px;color:rgba(0,0,0,0.964414);line-height:13px;}
.pos-17{margin-left:18px;margin-top:4px;}
.size-16{min-width:214px;width:214px;min-height:40px;height:40px;}
.font-8{font-size:9px;color:rgba(0,0,0,0.964414);line-height:13px;}
.pos-18{margin-left:18px;margin-top:10px;}
.size-17{min-width:190px;width:190px;min-height:15px;height:15px;}
.pos-19{margin-left:18px;margin-top:4px;}
.size-18{min-width:216px;width:216px;min-height:68px;height:68px;}
.pos-20{margin-left:18px;margin-top:9px;}
.size-19{min-width:190px;width:190px;min-height:14px;height:14px;}
.font-9{font-size:13px;color:rgba(0,0,0,0.964414);line-height:13px;}
.pos-21{margin-left:18px;margin-top:4px;}
.size-20{min-width:215px;width:215px;min-height:15px;height:15px;}
.pos-22{margin-left:18px;margin-top:9px;}
.size-21{min-width:190px;width:190px;min-height:13px;height:13px;}
.pos-23{margin-left:18px;margin-top:4px;}
.size-22{min-width:214px;width:214px;min-height:40px;height:40px;}
.pos-24{margin-left:18px;margin-top:9px;}
.size-23{min-width:190px;width:190px;min-height:13px;height:13px;}
.pos-25{margin-left:18px;margin-top:4px;}
.size-24{min-width:214px;width:214px;min-height:28px;height:28px;}
.pos-26{margin-left:18px;margin-top:11px;}
.size-25{min-width:107px;width:107px;min-height:15px;}
.pos-27{margin-top:0;}
.size-26{min-width:15px;width:15px;min-height:15px;height:15px;}
.img-5{width:15px;height:15px;}
.img-6{width:15px;height:15px;}
.pos-28{margin-left:9px;}
.size-27{min-width:14px;width:14px;min-height:15px;height:15px;}
.img-7{width:14px;height:15px;}
.img-8{width:14px;height:15px;}
.pos-29{margin-left:8px;}
.size-28{min-width:14px;width:14px;min-height:15px;height:15px;}
.img-9{width:14px;height:15px;top:0;}
.img-10{width:14px;height:15px;top:0;}
.pos-30{margin-left:8px;margin-top:0;}
.size-29{min-width:15px;width:15px;min-height:15px;height:15px;}
.img-11{width:15px;height:15px;}
.img-12{width:15px;height:15px;}
.pos-31{margin-left:9px;margin-top:0;}
.pos-32{margin-top:4px;}
.size-30{min-width:253px;width:253px;min-height:60px;height:60px;}
.img-13{left:5px;width:243px;height:60px;}
.img-14{left:5px;width:243px;height:60px;}
.pos-33{margin-left:22px;margin-top:-457px;}
.size-31{min-width:289px;width:289px;min-height:427px;}
.size-32{min-width:289px;width:289px;min-height:413px;height:413px;}
.img-15{width:289px;height:409px;top:2px;}
.img-16{width:289px;height:409px;top:2px;}
.pos-34{margin-left:156px;margin-top:-6px;}
.size-33{min-width:107px;width:107px;min-height:20px;height:20px;}
.img-17{left:2px;width:103px;height:20px;}
.img-18{left:2px;width:103px;height:20px;}
}
