html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}audio,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}img{border:0}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=submit]{-webkit-appearance:button;cursor:pointer;box-sizing:border-box}input[type=text]{-webkit-appearance:none;appearance: none;box-sizing:border-box}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;box-sizing:border-box;border-color:#ddd}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

body,div{font-size:0;}
p, span,h1,h2,h3,h4,h5,h6{margin:0;word-spacing:normal;word-wrap:break-word;-ms-word-wrap:break-word;pointer-events:auto;}
sup{font-size:inherit;vertical-align:baseline;position:relative;top:-0.4em;}
sub{font-size:inherit;vertical-align:baseline;position:relative;top:0.4em;}
ul{display:block;word-spacing:normal;word-wrap:break-word;list-style-type:none;margin:0;-moz-padding-start:0;-khtml-padding-start:0;-webkit-padding-start:0;-o-padding-start:0;-padding-start:0;-webkit-margin-before:0;-webkit-margin-after:0;}
li{display:block;}
li p{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select::none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
form{display:inline-block;}
a{text-decoration:inherit;color:inherit;-webkit-tap-highlight-color:rgba(0,0,0,0);}
textarea{resize:none;}
.shm-l{float:left;clear:left;}
.shm-r{float:right;clear:right;}
.whitespacefix{word-spacing:-1px;}
video:not(#video_background):not(.videoinline){width:100%;max-width:900px;}
video:-webkit-full-screen{max-width:100% !important;}
video:-moz-full-screen{max-width:100% !important;}
video:-ms-fullscreen{max-width:100% !important;}
video:fullscreen{max-width:100% !important;}
.player1.fullscreen1-active video{max-width:100% !important;}
html { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
#body{background-color:rgb(0,0,0);}
.pos{position:relative;margin-top:385px;}
.vis{display:block;vertical-align:top;}
.section{pointer-events:none;min-width:960px;width:960px;margin-left:auto;margin-right:auto;}
.vis-2{display:inline-block;vertical-align:top;}
.pos-2{position:relative;margin-left:0;margin-top:0;}
.size{min-width:960px;width:960px;min-height:176px;}
.pos-3{position:relative;margin-left:0;margin-top:0;}
.size-2{min-width:490px;width:490px;min-height:176px;}
.colwrapper{line-height:0;}
.pos-4{position:relative;margin-left:0;margin-top:0;}
.size-3{min-width:428px;width:428px;min-height:34px;}
.vis-3{display:inline-block;vertical-align:top;overflow:hidden;}
.size-4{min-width:330px;width:330px;min-height:34px;height:34px;}
.cont-2{z-index:2;pointer-events:auto;}
.para{padding-top:0;text-indent:0;padding-right:0;text-align:left;}
.font{font-family:Lato;font-size:20px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(255,255,255);background-color:initial;line-height:34px;letter-spacing:normal;text-shadow:none;}
.pos-5{position:relative;margin-left:22px;margin-top:0;}
.size-5{min-width:76px;width:76px;min-height:34px;height:34px;}
.cont-3{z-index:3;pointer-events:auto;}
.font-2{font-family:Lato;font-size:20px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(193,151,172);background-color:initial;line-height:34px;letter-spacing:normal;text-shadow:none;}
.size-6{min-width:490px;width:490px;min-height:87px;height:87px;}
.cont-4{z-index:5;pointer-events:auto;}
.para-2{padding-top:0;text-indent:0;padding-right:0;text-align:justify;}
.font-3{font-family:Lato;font-size:16px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(192,192,192);background-color:initial;line-height:23px;letter-spacing:normal;text-shadow:none;}
.pos-6{position:relative;margin-left:0;margin-top:31px;}
.size-7{min-width:90px;width:90px;min-height:24px;}
.cont-5{z-index:6;pointer-events:auto;}
.cont-6{pointer-events:none;}
.pos-7{position:relative;margin-left:0;margin-top:1px;}
.size-8{min-width:20px;width:20px;min-height:21px;height:21px;}
.cont-7{z-index:7;pointer-events:auto;}
.anchor{display:block;}
.img{position:absolute;left:0;width:20px;height:21px;top:0;opacity:0.24;border:0;}
.img-2{left:0;width:20px;height:21px;top:0;display:inline-block;}
.pos-8{position:relative;margin-left:11px;margin-top:2px;}
.size-9{min-width:25px;width:25px;min-height:22px;height:22px;}
.cont-8{z-index:8;pointer-events:auto;}
.img-3{position:absolute;left:1px;width:23px;height:22px;top:0;opacity:0.24;border:0;}
.img-4{left:1px;width:23px;height:22px;top:0;display:inline-block;}
.pos-9{position:relative;margin-left:10px;margin-top:0;}
.size-10{min-width:24px;width:24px;min-height:22px;height:22px;}
.cont-9{z-index:9;pointer-events:auto;}
.img-5{position:absolute;left:1px;width:23px;height:22px;top:0;opacity:0.24;border:0;}
.img-6{left:1px;width:23px;height:22px;top:0;display:inline-block;}
.pos-10{position:relative;margin-left:-40px;margin-top:0;}
.size-11{min-width:41px;width:41px;min-height:34px;height:34px;}
.cont-10{z-index:4;pointer-events:auto;}
.font-4{font-family:Lato;font-size:20px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(139,162,188);background-color:initial;line-height:34px;letter-spacing:normal;text-shadow:none;}
.pos-11{position:relative;margin-left:239px;margin-top:0;}
.size-12{min-width:230px;width:230px;min-height:176px;height:176px;}
.cont-11{z-index:1;pointer-events:auto;}
.img-7{position:absolute;left:0;width:230px;height:176px;top:0;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;border:0;}
.img-8{left:0;width:230px;height:176px;top:0;display:inline-block;}
@media (max-width:959px) {
.pos{margin-top:28px;}
.section{min-width:320px;width:320px;}
.pos-2{margin-left:24px;}
.size{min-width:273px;width:273px;min-height:326px;}
.pos-3{margin-top:187px;}
.size-2{min-width:273px;width:273px;min-height:139px;}
.size-3{min-width:230px;width:230px;}
.size-4{min-width:230px;width:230px;}
.pos-5{margin-left:69px;margin-top:-34px;}
.size-5{min-width:80px;width:80px;}
.size-6{min-width:273px;width:273px;min-height:93px;height:93px;}
.font-3{font-size:12px;line-height:17px;}
.pos-6{margin-left:3px;margin-top:-12px;}
.size-7{min-width:79px;width:79px;}
.pos-7{margin-top:2px;}
.size-8{min-width:17px;width:17px;min-height:22px;height:22px;}
.img{width:17px;height:18px;top:2px;}
.img-2{width:17px;height:18px;top:2px;}
.pos-8{margin-left:10px;margin-top:4px;}
.size-9{min-width:23px;width:23px;min-height:20px;height:20px;}
.img-3{width:21px;height:20px;}
.img-4{width:21px;height:20px;}
.size-10{min-width:19px;width:19px;min-height:24px;height:24px;}
.img-5{left:0;width:19px;height:20px;top:2px;}
.img-6{left:0;width:19px;height:20px;top:2px;}
.pos-10{margin-left:155px;margin-top:-139px;}
.size-11{min-width:51px;width:51px;}
.pos-11{margin-left:0;margin-top:-326px;}
.size-12{min-width:273px;width:273px;min-height:166px;height:166px;}
.img-7{width:273px;height:166px;}
.img-8{width:273px;height:166px;}
}
.pos-12{position:relative;margin-top:132px;}
.size-13{min-width:491px;width:491px;min-height:36px;}
.size-14{min-width:361px;width:361px;min-height:36px;height:36px;}
.font-5{font-family:Lato;font-size:20px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(201,143,101);background-color:initial;line-height:34px;letter-spacing:normal;text-shadow:none;}
.pos-13{position:relative;margin-left:-9px;margin-top:2px;}
.cont-12{z-index:11;pointer-events:auto;}
.font-6{font-family:Lato;font-size:20px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(192,192,192);background-color:initial;line-height:34px;letter-spacing:normal;text-shadow:none;}
.pos-14{position:relative;margin-left:22px;margin-top:2px;}
.cont-13{z-index:12;pointer-events:auto;}
.size-15{min-width:490px;width:490px;min-height:47px;height:47px;}
.cont-14{z-index:9;pointer-events:auto;}
.font-7{font-family:Lato;font-size:16px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(255,255,255);background-color:initial;line-height:23px;letter-spacing:normal;text-shadow:none;}
.pos-15{position:relative;margin-left:0;margin-top:0;}
.size-16{min-width:491px;width:491px;min-height:70px;height:70px;}
.cont-15{z-index:13;pointer-events:auto;}
.font-8{font-family:Lato;font-size:16px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(128,128,128);background-color:initial;line-height:23px;letter-spacing:normal;text-shadow:none;}
.size-17{min-width:490px;width:490px;min-height:24px;height:24px;}
.cont-16{z-index:14;pointer-events:auto;}
.size-18{min-width:491px;width:491px;min-height:139px;height:139px;}
.size-19{min-width:490px;width:490px;min-height:24px;height:24px;}
.font-9{font-family:Lato;font-size:16px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(255,255,255);background-color:initial;line-height:23px;letter-spacing:normal;text-shadow:none;}
.size-20{min-width:490px;width:490px;min-height:47px;height:47px;}
.size-21{min-width:490px;width:490px;min-height:26px;height:26px;}
.font-10{font-family:Lato;font-size:16px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(255,255,255);background-color:initial;line-height:25px;letter-spacing:normal;text-shadow:none;}
.size-22{min-width:491px;width:491px;min-height:139px;height:139px;}
.size-23{min-width:490px;width:490px;min-height:27px;height:27px;}
.cont-17{z-index:7;pointer-events:auto;}
.font-11{font-family:Lato;font-size:16px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(255,255,255);background-color:initial;line-height:27px;letter-spacing:normal;text-shadow:none;}
.size-24{min-width:491px;width:491px;min-height:47px;height:47px;}
.cont-18{z-index:8;pointer-events:auto;}
.size-25{min-width:491px;width:491px;min-height:27px;height:27px;}
.cont-19{z-index:10;pointer-events:auto;}
.size-26{min-width:489px;width:489px;min-height:73px;height:73px;}
.cont-20{z-index:17;pointer-events:auto;}
.pos-16{position:relative;margin-left:0;margin-top:0;}
.size-27{min-width:490px;width:490px;min-height:25px;height:25px;}
.cont-21{z-index:15;pointer-events:auto;}
.font-12{font-family:Lato;font-size:16px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(255,255,255);background-color:initial;line-height:23px;letter-spacing:normal;text-shadow:none;}
.pos-17{position:relative;margin-left:0;margin-top:25px;}
.size-28{min-width:490px;width:490px;min-height:71px;}
.pos-18{position:relative;margin-left:0;margin-top:0;}
.cont-22{z-index:18;pointer-events:auto;}
.cont-23{z-index:19;pointer-events:auto;}
.cont-24{z-index:20;pointer-events:auto;}
.cont-25{z-index:21;pointer-events:auto;}
.pos-19{position:relative;margin-left:0;margin-top:-2px;}
.size-29{min-width:490px;width:490px;min-height:49px;height:49px;}
.cont-26{z-index:16;pointer-events:auto;}
@media (max-width:959px) {
.pos-12{margin-top:27px;}
.size-13{min-width:206px;width:206px;min-height:34px;}
.size-14{min-width:66px;width:66px;min-height:34px;height:34px;}
.pos-13{margin-left:3px;margin-top:0;}
.pos-14{margin-left:6px;margin-top:0;}
.size-15{min-width:273px;width:273px;min-height:52px;height:52px;}
.font-7{font-size:12px;line-height:17px;}
.pos-15{margin-left:24px;margin-top:-15px;}
.size-16{min-width:273px;width:273px;min-height:62px;height:62px;}
.font-8{font-size:10px;line-height:15px;}
.size-17{min-width:273px;width:273px;min-height:37px;height:37px;}
.size-18{min-width:273px;width:273px;min-height:108px;height:108px;}
.size-19{min-width:273px;width:273px;min-height:18px;height:18px;}
.font-9{font-size:13px;line-height:18px;}
.size-20{min-width:273px;width:273px;}
.size-21{min-width:273px;width:273px;min-height:21px;height:21px;}
.font-10{font-size:13px;line-height:21px;}
.size-22{min-width:273px;width:273px;min-height:110px;height:110px;}
.size-23{min-width:273px;width:273px;min-height:22px;height:22px;}
.font-11{font-size:13px;line-height:22px;}
.size-24{min-width:273px;width:273px;min-height:32px;height:32px;}
.size-25{min-width:273px;width:273px;min-height:22px;height:22px;}
.size-26{min-width:273px;width:273px;min-height:46px;height:46px;}
.pos-16{margin-left:37px;margin-top:-497px;}
.size-27{min-width:246px;width:246px;min-height:52px;height:52px;}
.font-12{font-size:12px;line-height:17px;}
.pos-17{margin-left:24px;margin-top:-497px;}
.size-28{min-width:259px;width:259px;min-height:535px;}
.pos-18{margin-top:511px;}
.pos-19{margin-left:13px;margin-top:-535px;}
.size-29{min-width:246px;width:246px;min-height:52px;height:52px;}
}
@font-face{font-family:"Redacted Script";src:url('redacted-script-regular.ttf');src:url('redacted-script-regular.ttf?#iefix') format('embedded-opentype'), url('redacted-script-regular.ttf') format('woff'), url('redacted-script-regular.ttf') format('truetype'), url('redacted-script-regular.ttf#RedactedScript') format('svg');font-weight:400;}
.pos-20{position:relative;margin-top:132px;}
.size-30{min-width:491px;width:491px;min-height:36px;}
.size-31{min-width:361px;width:361px;min-height:36px;height:36px;}
.pos-21{position:relative;margin-left:-9px;margin-top:2px;}
.size-32{min-width:490px;width:490px;min-height:49px;height:49px;}
.size-33{min-width:491px;width:491px;min-height:24px;height:24px;}
.font-13{font-family:Lato;font-size:16px;font-weight:400;font-style:italic;text-decoration:none;text-transform:none;color:rgb(128,128,128);background-color:initial;line-height:19px;letter-spacing:normal;text-shadow:none;}
.pos-22{position:relative;margin-left:0;margin-top:11px;}
.pos-23{position:relative;margin-left:0;margin-top:0;}
.size-34{min-width:491px;width:491px;min-height:24px;height:24px;}
.pos-24{position:relative;margin-left:0;margin-top:0;}
.size-35{min-width:490px;width:490px;min-height:39px;}
.pos-25{position:relative;margin-left:0;margin-top:0;}
.pos-26{position:relative;margin-left:180px;margin-top:-3px;}
.size-36{min-width:181px;width:181px;min-height:17px;height:17px;}
.font-14{font-family:"Redacted Script";font-size:16px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:26px;letter-spacing:normal;text-shadow:none;}
.pos-27{position:relative;margin-left:0;margin-top:11px;}
.size-37{min-width:490px;width:490px;min-height:71px;}
.pos-28{position:relative;margin-left:0;margin-top:0;}
.cont-27{z-index:13;pointer-events:auto;}
.cont-28{z-index:14;pointer-events:auto;}
.cont-29{z-index:15;pointer-events:auto;}
.pos-29{position:relative;margin-left:0;margin-top:-2px;}
.pos-30{position:relative;margin-left:0;margin-top:0;}
@media (max-width:959px) {
.pos-20{margin-top:28px;}
.size-30{min-width:207px;width:207px;min-height:34px;}
.size-31{min-width:74px;width:74px;min-height:34px;height:34px;}
.pos-21{margin-left:-4px;margin-top:0;}
.size-32{min-width:273px;width:273px;min-height:52px;height:52px;}
.size-33{min-width:273px;width:273px;min-height:13px;height:13px;}
.font-13{font-size:10px;line-height:12px;}
.pos-22{margin-left:24px;margin-top:0;}
.pos-23{margin-left:24px;margin-top:-14px;}
.size-34{min-width:273px;width:273px;min-height:14px;height:14px;}
.pos-24{margin-top:-71px;}
.size-35{min-width:286px;width:286px;min-height:184px;}
.pos-25{margin-left:40px;margin-top:132px;}
.pos-26{margin-left:0;margin-top:-184px;}
.size-36{min-width:60px;width:60px;min-height:6px;height:6px;}
.font-14{font-size:5px;line-height:8px;}
.pos-27{margin-left:23px;margin-top:-105px;}
.size-37{min-width:246px;width:246px;min-height:104px;}
.pos-28{margin-left:1px;}
.pos-29{margin-top:28px;}
.pos-30{margin-left:47px;margin-top:44px;}
}
@font-face{font-family:"Redacted Script";src:url('redacted-script-regular.ttf');src:url('redacted-script-regular.ttf?#iefix') format('embedded-opentype'), url('redacted-script-regular.ttf') format('woff'), url('redacted-script-regular.ttf') format('truetype'), url('redacted-script-regular.ttf#RedactedScript') format('svg');font-weight:400;}
.pos-31{position:relative;margin-top:385px;}
.pos-32{position:relative;margin-left:0;margin-top:0;}
.pos-33{position:relative;margin-left:-330px;margin-top:34px;}
.size-38{min-width:490px;width:490px;min-height:87px;}
.size-39{min-width:490px;width:490px;min-height:87px;height:87px;}
.font-15{font-family:Lato;font-size:16px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(192,192,192);background-color:initial;line-height:23px;letter-spacing:normal;text-shadow:none;}
.pos-34{position:relative;margin-left:0;margin-top:-34px;}
.size-40{min-width:59px;width:59px;min-height:22px;height:22px;}
.font-16{font-family:Lato;font-size:13px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(139,162,188);background-color:initial;line-height:22px;letter-spacing:normal;text-shadow:none;}
@media (max-width:959px) {
.pos-31{margin-top:215px;}
.pos-32{margin-left:37px;}
.pos-33{margin-left:37px;margin-top:0;}
.size-38{min-width:246px;width:246px;min-height:93px;}
.size-39{min-width:246px;width:246px;min-height:93px;height:93px;}
.font-15{font-size:18px;line-height:26px;}
.pos-34{margin-top:-46px;}
.size-40{min-width:120px;width:120px;min-height:34px;height:34px;}
.font-16{font-size:14px;line-height:23px;}
}
