html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}audio,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}img{border:0}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=submit]{-webkit-appearance:button;cursor:pointer;box-sizing:border-box}input[type=text]{-webkit-appearance:none;appearance: none;box-sizing:border-box}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;box-sizing:border-box;border-color:#ddd}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

body,div{font-size:0;}
p, span,h1,h2,h3,h4,h5,h6{margin:0;word-spacing:normal;word-wrap:break-word;-ms-word-wrap:break-word;pointer-events:auto;}
sup{font-size:inherit;vertical-align:baseline;position:relative;top:-0.4em;}
sub{font-size:inherit;vertical-align:baseline;position:relative;top:0.4em;}
ul{display:block;word-spacing:normal;word-wrap:break-word;list-style-type:none;margin:0;-moz-padding-start:0;-khtml-padding-start:0;-webkit-padding-start:0;-o-padding-start:0;-padding-start:0;-webkit-margin-before:0;-webkit-margin-after:0;}
li{display:block;}
li p{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select::none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
form{display:inline-block;}
a{text-decoration:inherit;color:inherit;-webkit-tap-highlight-color:rgba(0,0,0,0);}
textarea{resize:none;}
.shm-l{float:left;clear:left;}
.shm-r{float:right;clear:right;}
.whitespacefix{word-spacing:-1px;}
video:not(#video_background):not(.videoinline){width:100%;max-width:900px;}
video:-webkit-full-screen{max-width:100% !important;}
video:-moz-full-screen{max-width:100% !important;}
video:-ms-fullscreen{max-width:100% !important;}
video:fullscreen{max-width:100% !important;}
.player1.fullscreen1-active video{max-width:100% !important;}
html { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
@font-face{font-family:"IBM Plex Sans";src:url('IBMPlexSans-Medium.ttf') format('truetype');font-weight:500;}
@font-face{font-family:"IBM Plex Sans";src:url('IBMPlexSans-SemiBold.ttf') format('truetype');font-weight:600;}
#body{background-color:rgb(255,255,255);}
.pos{position:relative;margin-top:132px;}
.vis{display:block;vertical-align:top;}
.section{pointer-events:none;min-width:960px;width:960px;margin-left:auto;margin-right:auto;}
.vis-2{display:inline-block;vertical-align:top;}
.pos-2{position:relative;margin-left:90px;margin-top:0;}
.size{min-width:794px;width:794px;min-height:67px;}
.vis-3{display:inline-block;vertical-align:top;overflow:hidden;}
.pos-3{position:relative;margin-left:0;margin-top:0;}
.size-2{min-width:247px;width:247px;min-height:66px;height:66px;}
.cont-2{z-index:1;pointer-events:auto;}
.para{padding-top:0;text-indent:0;padding-right:0;text-align:left;}
.font{font-family:"IBM Plex Sans";font-size:51px;font-weight:500;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:66px;letter-spacing:normal;text-shadow:none;}
.pos-4{position:relative;margin-left:346px;margin-top:34px;}
.size-3{min-width:50px;width:50px;min-height:33px;height:33px;}
.cont-3{z-index:2;pointer-events:auto;}
.font-2{font-family:"IBM Plex Sans";font-size:20px;font-weight:600;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:25px;letter-spacing:normal;text-shadow:none;}
.pos-5{position:relative;margin-left:-6px;margin-top:34px;}
.size-4{min-width:101px;width:101px;min-height:33px;height:33px;}
.cont-4{z-index:4;pointer-events:auto;}
.font-3{font-family:"IBM Plex Sans";font-size:20px;font-weight:600;font-style:normal;text-decoration:none;text-transform:none;color:rgb(128,128,128);background-color:initial;line-height:25px;letter-spacing:normal;text-shadow:none;}
.pos-6{position:relative;margin-left:728px;margin-top:-34px;}
.size-5{min-width:66px;width:66px;min-height:34px;height:34px;}
.cont-5{z-index:6;pointer-events:auto;}
.pos-7{position:relative;margin-left:80px;margin-top:3px;}
.size-6{min-width:800px;width:800px;min-height:488px;}
.colwrapper{line-height:0;}
.size-7{min-width:800px;width:800px;min-height:488px;height:488px;}
.cont-6{z-index:3;pointer-events:auto;}
.img{position:absolute;left:0;width:800px;height:488px;top:0;border:0;}
.img-2{left:0;width:800px;height:488px;top:0;display:inline-block;}
.pos-8{position:relative;margin-left:57px;margin-top:-429px;}
.size-8{min-width:663px;width:663px;min-height:372px;}
.size-9{min-width:363px;width:363px;min-height:372px;height:372px;}
.cont-7{z-index:7;pointer-events:auto;}
.img-3{position:absolute;left:0;width:363px;height:372px;top:0;opacity:0.9;border:0;}
.img-4{left:0;width:363px;height:372px;top:0;display:inline-block;}
.pos-9{position:relative;margin-left:82px;margin-top:25px;}
.size-10{min-width:218px;width:218px;min-height:323px;}
.size-11{min-width:218px;width:218px;min-height:323px;height:323px;}
.cont-8{z-index:5;pointer-events:auto;}
.para-2{padding-top:0;text-indent:0;padding-right:0;text-align:justify;}
.font-4{font-family:"IBM Plex Sans";font-size:18px;font-weight:500;font-style:normal;text-decoration:none;text-transform:none;color:rgb(64,64,64);background-color:initial;line-height:25px;letter-spacing:normal;text-shadow:none;}
.pos-10{position:relative;margin-left:64px;margin-top:-49px;}
.size-12{min-width:94px;width:94px;min-height:25px;}
.size-13{min-width:21px;width:21px;min-height:24px;height:24px;}
.cont-9{z-index:8;pointer-events:auto;}
.anchor{display:block;}
.img-5{position:absolute;left:0;width:21px;height:22px;top:1px;opacity:0.73;border:0;}
.img-6{left:0;width:21px;height:22px;top:1px;display:inline-block;}
.pos-11{position:relative;margin-left:10px;margin-top:0;}
.size-14{min-width:29px;width:29px;min-height:25px;height:25px;}
.cont-10{z-index:9;pointer-events:auto;}
.img-7{position:absolute;left:2px;width:26px;height:25px;top:0;opacity:0.73;border:0;}
.img-8{left:2px;width:26px;height:25px;top:0;display:inline-block;}
.pos-12{position:relative;margin-left:8px;margin-top:1px;}
.size-15{min-width:26px;width:26px;min-height:20px;height:20px;}
.cont-11{z-index:10;pointer-events:auto;}
.img-9{position:absolute;left:3px;width:21px;height:20px;top:0;opacity:0.73;border:0;}
.img-10{left:3px;width:21px;height:20px;top:0;display:inline-block;}
@font-face{font-family:"IBM Plex Sans";src:url('IBMPlexSans-Medium.ttf') format('truetype');font-weight:500;}
@font-face{font-family:"IBM Plex Sans";src:url('IBMPlexSans-SemiBold.ttf') format('truetype');font-weight:600;}
.pos-13{position:relative;margin-top:129px;}
.pos-14{position:relative;margin-left:100px;margin-top:27px;}
.size-16{min-width:784px;width:784px;min-height:204px;}
.size-17{min-width:17px;width:17px;min-height:204px;height:204px;}
.cont-12{pointer-events:auto;}
.img-11{position:absolute;left:0;width:17px;height:204px;top:0;border:0;}
.img-12{left:0;width:17px;height:204px;top:0;display:inline-block;}
.pos-15{position:relative;margin-left:15px;margin-top:0;}
.size-18{min-width:752px;width:752px;min-height:204px;}
.size-19{min-width:752px;width:752px;min-height:78px;height:78px;}
.font-5{font-family:"IBM Plex Sans";font-size:28px;font-weight:600;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:37px;letter-spacing:normal;text-shadow:none;}
.pos-16{position:relative;margin-left:0;margin-top:5px;}
.size-20{min-width:695px;width:695px;min-height:121px;height:121px;}
.cont-13{z-index:7;pointer-events:auto;}
.font-6{font-family:"IBM Plex Sans";font-size:18px;font-weight:500;font-style:normal;text-decoration:none;text-transform:none;color:rgb(64,64,64);background-color:initial;line-height:23px;letter-spacing:normal;text-shadow:none;}
.pos-17{position:relative;margin-left:100px;margin-top:23px;}
.size-21{min-width:710px;width:710px;min-height:174px;}
.pos-18{position:relative;margin-left:0;margin-top:12px;}
.size-22{min-width:17px;width:17px;min-height:132px;height:132px;}
.img-13{position:absolute;left:0;width:17px;height:132px;top:0;border:0;}
.img-14{left:0;width:17px;height:132px;top:0;display:inline-block;}
.pos-19{position:relative;margin-left:16px;margin-top:12px;}
.size-23{min-width:449px;width:449px;min-height:132px;}
.size-24{min-width:449px;width:449px;min-height:46px;height:46px;}
.cont-14{z-index:9;pointer-events:auto;}
.font-7{font-family:"IBM Plex Sans";font-size:25px;font-weight:600;font-style:normal;text-decoration:none;text-transform:none;color:rgb(64,64,64);background-color:initial;line-height:46px;letter-spacing:normal;text-shadow:none;}
.pos-20{position:relative;margin-left:0;margin-top:9px;}
.size-25{min-width:449px;width:449px;min-height:77px;height:77px;}
.cont-15{z-index:10;pointer-events:auto;}
.size-26{min-width:228px;width:228px;min-height:174px;height:174px;}
.img-15{position:absolute;left:9px;width:210px;height:174px;top:0;border:0;}
.img-16{left:9px;width:210px;height:174px;top:0;display:inline-block;}
.pos-21{position:relative;margin-left:100px;margin-top:6px;}
.size-27{min-width:727px;width:727px;min-height:176px;}
.size-28{min-width:17px;width:17px;min-height:176px;height:176px;}
.img-17{position:absolute;left:0;width:17px;height:176px;top:0;border:0;}
.img-18{left:0;width:17px;height:176px;top:0;display:inline-block;}
.pos-22{position:relative;margin-left:16px;margin-top:0;}
.size-29{min-width:694px;width:694px;min-height:176px;}
.cont-16{z-index:12;pointer-events:auto;}
.size-30{min-width:694px;width:694px;min-height:121px;height:121px;}
.cont-17{z-index:14;pointer-events:auto;}
.pos-23{position:relative;margin-left:100px;margin-top:37px;}
.size-31{min-width:727px;width:727px;min-height:423px;}
.size-32{min-width:17px;width:17px;min-height:105px;height:105px;}
.img-19{position:absolute;left:0;width:17px;height:105px;top:0;border:0;}
.img-20{left:0;width:17px;height:105px;top:0;display:inline-block;}
.pos-24{position:relative;margin-left:-16px;margin-top:137px;}
.size-33{min-width:18px;width:18px;min-height:286px;}
.size-34{min-width:17px;width:17px;min-height:127px;height:127px;}
.cont-18{z-index:19;pointer-events:auto;}
.img-21{position:absolute;left:0;width:17px;height:127px;top:0;border:0;}
.img-22{left:0;width:17px;height:127px;top:0;display:inline-block;}
.pos-25{position:relative;margin-left:0;margin-top:33px;}
.size-35{min-width:18px;width:18px;min-height:126px;height:126px;}
.cont-19{z-index:23;pointer-events:auto;}
.img-23{position:absolute;left:0;width:18px;height:126px;top:0;border:0;}
.img-24{left:0;width:18px;height:126px;top:0;display:inline-block;}
.pos-26{position:relative;margin-left:14px;margin-top:0;}
.size-36{min-width:694px;width:694px;min-height:423px;}
.cont-20{z-index:15;pointer-events:auto;}
.size-37{min-width:694px;width:694px;min-height:50px;height:50px;}
.cont-21{z-index:17;pointer-events:auto;}
.pos-27{position:relative;margin-left:1px;margin-top:-7px;}
.size-38{min-width:631px;width:631px;min-height:242px;}
.pos-28{position:relative;margin-left:0;margin-top:37px;}
.size-39{min-width:449px;width:449px;min-height:205px;}
.cont-22{z-index:20;pointer-events:auto;}
.size-40{min-width:449px;width:449px;min-height:74px;height:74px;}
.cont-23{z-index:21;pointer-events:auto;}
.pos-29{position:relative;margin-left:0;margin-top:30px;}
.cont-24{z-index:22;pointer-events:auto;}
.pos-30{position:relative;margin-left:44px;margin-top:0;}
.size-41{min-width:138px;width:138px;min-height:211px;height:211px;}
.cont-25{z-index:18;pointer-events:auto;}
.img-25{position:absolute;left:0;width:138px;height:211px;top:0;border:0;}
.img-26{left:0;width:138px;height:211px;top:0;display:inline-block;}
.pos-31{position:relative;margin-left:1px;margin-top:9px;}
.size-42{min-width:693px;width:693px;min-height:74px;height:74px;}
.cont-26{z-index:24;pointer-events:auto;}
.pos-32{position:relative;margin-left:-392px;margin-top:522px;}
.cont-27{z-index:25;pointer-events:auto;}
.cont-28{z-index:26;pointer-events:auto;}
.cont-29{z-index:27;pointer-events:auto;}
.pos-33{position:relative;margin-left:-170px;margin-top:566px;}
.size-43{min-width:250px;width:250px;min-height:64px;height:64px;}
.cont-30{z-index:28;border:0;background-color:transparent;}
@font-face{font-family:"IBM Plex Sans";src:url('IBMPlexSans-Medium.ttf') format('truetype');font-weight:500;}
@font-face{font-family:"IBM Plex Sans";src:url('IBMPlexSans-SemiBold.ttf') format('truetype');font-weight:600;}
.pos-34{position:relative;margin-top:133px;}
.pos-35{position:relative;margin-left:187px;margin-top:38px;}
.size-44{min-width:591px;width:591px;min-height:72px;height:72px;}
.font-8{font-family:"IBM Plex Sans", serif;font-size:39px;font-weight:700;font-style:italic;text-decoration:none;text-transform:none;color:rgb(128,128,128);background-color:initial;line-height:71px;letter-spacing:normal;text-shadow:none;}
