html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}audio,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}img{border:0}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=submit]{-webkit-appearance:button;cursor:pointer;box-sizing:border-box}input[type=text]{-webkit-appearance:none;appearance: none;box-sizing:border-box}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;box-sizing:border-box;border-color:#ddd}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

body,div{font-size:0;}
p, span,h1,h2,h3,h4,h5,h6{margin:0;word-spacing:normal;word-wrap:break-word;-ms-word-wrap:break-word;pointer-events:auto;}
sup{font-size:inherit;vertical-align:baseline;position:relative;top:-0.4em;}
sub{font-size:inherit;vertical-align:baseline;position:relative;top:0.4em;}
ul{display:block;word-spacing:normal;word-wrap:break-word;list-style-type:none;margin:0;-moz-padding-start:0;-khtml-padding-start:0;-webkit-padding-start:0;-o-padding-start:0;-padding-start:0;-webkit-margin-before:0;-webkit-margin-after:0;}
li{display:block;}
li p{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select::none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
form{display:inline-block;}
a{text-decoration:inherit;color:inherit;-webkit-tap-highlight-color:rgba(0,0,0,0);}
textarea{resize:none;}
.shm-l{float:left;clear:left;}
.shm-r{float:right;clear:right;}
.whitespacefix{word-spacing:-1px;}
video:not(#video_background):not(.videoinline){width:100%;max-width:900px;}
video:-webkit-full-screen{max-width:100% !important;}
video:-moz-full-screen{max-width:100% !important;}
video:-ms-fullscreen{max-width:100% !important;}
video:fullscreen{max-width:100% !important;}
.player1.fullscreen1-active video{max-width:100% !important;}
html { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.animated{-webkit-animation-fill-mode:both;animation-fill-mode:both}.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}
@-webkit-keyframes fadeIn{from{opacity:0}to{opacity:1}}@keyframes fadeIn{from{opacity:0}to{opacity:1}}.fadeIn{-webkit-animation-name:fadeIn;animation-name:fadeIn}
#body{background-color:rgb(255,255,255);}
.pos{position:relative;margin-top:218px;}
.vis{display:block;vertical-align:top;}
.section{pointer-events:none;min-width:1200px;width:1200px;margin-left:auto;margin-right:auto;}
.vis-2{display:inline-block;vertical-align:top;}
.pos-2{position:relative;margin-left:39px;margin-top:0;}
.size{min-width:1000px;width:1000px;min-height:623px;}
.pos-3{position:relative;margin-left:0;margin-top:0;}
.size-2{min-width:600px;width:600px;min-height:600px;height:600px;}
.cont-2{z-index:1;pointer-events:auto;}
.img{position:absolute;left:0;width:600px;height:600px;top:0;border:0;}
.img-2{left:0;width:600px;height:600px;top:0;display:inline-block;}
.pos-4{position:relative;margin-left:0;margin-top:139px;}
.size-3{min-width:400px;width:400px;min-height:484px;}
.colwrapper{line-height:0;}
.vis-3{display:inline-block;vertical-align:top;overflow:hidden;}
.size-4{min-width:400px;width:400px;min-height:91px;height:91px;}
.cont-3{z-index:3;pointer-events:auto;font-family:Dosis;font-size:45px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:initial;background-color:initial;line-height:80px;letter-spacing:normal;}
.shm{display:block;float:left;clear:left;width:400px;height:86px;shape-outside:polygon(0px 86px, 8px 86px, 8px 0px, 0px 0px);-webkit-shape-outside:polygon(0px 86px, 8px 86px, 8px 0px, 0px 0px);}
.shm-2{display:block;float:right;clear:right;width:0;height:86px;shape-outside:polygon(0px 0px, 0px 86px, 0px 86px, 0px 0px);-webkit-shape-outside:polygon(0px 0px, 0px 86px, 0px 86px, 0px 0px);}
.shm-3{display:block;float:left;clear:left;width:0;height:5px;shape-outside:none;-webkit-shape-outside:none;}
.shm-4{display:block;float:right;clear:right;width:400px;height:5px;shape-outside:none;-webkit-shape-outside:none;}
.para{padding-top:0;text-indent:0;padding-right:0;text-align:left;}
.font{font-family:Dosis;font-size:45px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:80px;letter-spacing:normal;text-shadow:none;}
.pos-5{position:relative;margin-left:0;margin-top:3px;}
.size-5{min-width:400px;width:400px;min-height:390px;height:390px;}
.cont-4{z-index:2;pointer-events:auto;font-family:Dosis;font-size:17px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:initial;background-color:initial;line-height:30px;letter-spacing:normal;}
.shm-5{display:block;float:left;clear:left;width:400px;height:375px;shape-outside:polygon(0px 375px, 8px 375px, 8px 0px, 0px 0px);-webkit-shape-outside:polygon(0px 375px, 8px 375px, 8px 0px, 0px 0px);}
.shm-6{display:block;float:right;clear:right;width:0;height:375px;shape-outside:polygon(0px 0px, 0px 375px, 0px 375px, 0px 0px);-webkit-shape-outside:polygon(0px 0px, 0px 375px, 0px 375px, 0px 0px);}
.shm-7{display:block;float:left;clear:left;width:0;height:15px;shape-outside:none;-webkit-shape-outside:none;}
.shm-8{display:block;float:right;clear:right;width:0;height:15px;shape-outside:polygon(0px 0px, 0px 15px, 0px 15px, 0px 0px);-webkit-shape-outside:polygon(0px 0px, 0px 15px, 0px 15px, 0px 0px);}
.para-2{padding-top:0;text-indent:0;padding-right:0;text-align:justify;}
.font-2{font-family:Dosis;font-size:17px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(64,64,64);background-color:initial;line-height:30px;letter-spacing:normal;text-shadow:none;}
.font-3{font-family:Dosis;font-size:17px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(255,255,255);background-color:initial;line-height:30px;letter-spacing:normal;text-shadow:none;}
.font-4{font-family:"Istok Web";font-size:52px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:105px;letter-spacing:normal;text-shadow:none;}
.pos-6{position:relative;margin-left:155px;margin-top:-241px;}
.size-6{min-width:109px;width:109px;min-height:35px;height:35px;}
.cont-5{z-index:8;pointer-events:auto;}
.font-5{font-family:Dosis;font-size:18px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(64,64,64);background-color:initial;line-height:32px;letter-spacing:normal;text-shadow:none;}
.pos-7{position:relative;margin-left:10px;margin-top:-181px;}
.size-7{min-width:389px;width:389px;min-height:36px;}
.pos-8{position:relative;margin-left:0;margin-top:2px;}
.size-8{min-width:111px;width:111px;min-height:31px;}
.cont-6{z-index:4;pointer-events:auto;}
.button{border:0;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background-color:rgb(0,0,0);}
.button:hover{background-color:rgb(167,63,62);border-color:rgb(0,0,0);color:rgb(255,255,255);}
.button:active{background-color:rgb(90,94,158);border-color:rgb(0,0,0);color:rgb(255,255,255);}
.vis-4{display:inline-block;overflow:hidden;outline:0;}
.size-9{width:111px;height:19px;}
.font-6{font-family:Dosis;font-size:15px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(255,255,255);line-height:initial;letter-spacing:normal;text-shadow:none;text-indent:0;text-align:center;padding-top:6px;padding-bottom:6px;margin-top:0;margin-bottom:0;}
.pos-10{position:relative;margin-left:73px;margin-top:3px;}
.size-10{min-width:29px;width:29px;min-height:29px;height:29px;}
.cont-7{z-index:5;pointer-events:auto;}
.anchor{display:block;}
.img-3{position:absolute;left:0;width:29px;height:29px;top:0;border:0;}
.img-4{left:0;width:29px;height:29px;top:0;display:inline-block;}
.pos-11{position:relative;margin-left:25px;margin-top:1px;}
.size-11{min-width:31px;width:31px;min-height:35px;height:35px;}
.cont-8{z-index:6;pointer-events:auto;}
.img-5{position:absolute;left:0;width:31px;height:32px;top:1px;border:0;}
.img-6{left:0;width:31px;height:32px;top:1px;display:inline-block;}
.pos-12{position:relative;margin-left:27px;margin-top:2px;}
.size-12{min-width:31px;width:31px;min-height:30px;height:30px;}
.cont-9{z-index:7;pointer-events:auto;}
.img-7{position:absolute;left:0;width:31px;height:30px;top:0;border:0;}
.img-8{left:0;width:31px;height:30px;top:0;display:inline-block;}
.pos-13{position:relative;margin-left:29px;margin-top:0;}
.size-13{min-width:33px;width:33px;min-height:33px;height:33px;}
.cont-10{z-index:9;pointer-events:auto;}
.img-9{position:absolute;left:0;width:33px;height:33px;top:0;border:0;}
.img-10{left:0;width:33px;height:33px;top:0;display:inline-block;}
.vis-5{display:none;vertical-align:top;}
.shape-device{background-color:rgb(0,0,0);display:none;}
@media (min-width:960px) and (max-width:1199px) {
.pos{margin-top:86px;}
.section{min-width:960px;width:960px;}
.pos-2{margin-left:27px;}
.size{min-width:800px;width:800px;min-height:480px;}
.size-2{min-width:480px;width:480px;min-height:480px;height:480px;}
.img{width:480px;height:480px;}
.img-2{width:480px;height:480px;}
.pos-4{margin-top:89px;}
.size-3{min-width:320px;width:320px;min-height:311px;}
.size-4{min-width:320px;width:320px;min-height:72px;height:72px;}
.cont-3{font-size:36px;line-height:64px;}
.shm{display:none;width:0;height:0;shape-outside:none;-webkit-shape-outside:none;shape-margin:0;}
.shm-2{display:none;height:0;shape-outside:none;-webkit-shape-outside:none;shape-margin:0;}
.shm-3{display:none;height:0;shape-margin:0;}
.shm-4{display:none;width:0;height:0;shape-margin:0;}
.font{font-size:36px;line-height:64px;}
.pos-5{margin-top:0;}
.size-5{min-width:320px;width:320px;min-height:198px;height:198px;}
.cont-4{font-size:15px;line-height:27px;}
.shm-5{display:none;width:0;height:0;shape-outside:none;-webkit-shape-outside:none;shape-margin:0;}
.shm-6{display:none;height:0;shape-outside:none;-webkit-shape-outside:none;shape-margin:0;}
.shm-7{display:none;height:0;shape-margin:0;}
.shm-8{display:none;height:0;shape-outside:none;-webkit-shape-outside:none;shape-margin:0;}
.font-2{font-size:15px;line-height:27px;}
.font-3{font-size:15px;line-height:27px;}
.font-4{font-size:42px;line-height:84px;}
.pos-6{margin-left:0;margin-top:-38px;}
.size-6{min-width:87px;width:87px;min-height:28px;height:28px;}
.font-5{font-size:15px;line-height:27px;}
.pos-7{margin-left:0;margin-top:12px;}
.size-7{min-width:320px;width:320px;min-height:29px;}
.pos-8{margin-top:0;}
.size-8{min-width:123px;width:123px;min-height:28px;}
.size-9{width:123px;}
.font-6{padding-top:4px;padding-bottom:5px;}
.pos-10{margin-left:33px;}
.size-10{min-width:24px;width:24px;min-height:23px;height:23px;}
.img-3{width:24px;height:23px;}
.img-4{width:24px;height:23px;}
.pos-11{margin-left:20px;}
.size-11{min-width:27px;width:27px;min-height:28px;height:28px;}
.img-5{width:27px;height:28px;top:0;}
.img-6{width:27px;height:28px;top:0;}
.pos-12{margin-left:19px;}
.size-12{min-width:25px;width:25px;min-height:24px;height:24px;}
.img-7{width:25px;height:24px;}
.img-8{width:25px;height:24px;}
.pos-13{margin-left:23px;}
.size-13{min-width:26px;width:26px;min-height:27px;height:27px;}
.img-9{width:26px;height:27px;}
.img-10{width:26px;height:27px;}
.shape-device{background-color:rgb(1,1,1);display:none;}
}
@media (min-width:768px) and (max-width:959px) {
.pos{margin-top:70px;}
.section{min-width:768px;width:768px;}
.pos-2{margin-left:169px;}
.size{min-width:445px;width:445px;min-height:747px;}
.size-2{min-width:445px;width:445px;min-height:445px;height:445px;}
.img{width:445px;height:445px;}
.img-2{width:445px;height:445px;}
.pos-4{margin-left:71px;margin-top:-65px;}
.size-3{min-width:303px;width:303px;min-height:367px;}
.size-4{min-width:256px;width:256px;min-height:58px;height:58px;}
.cont-3{font-size:28px;line-height:49px;}
.shm{display:none;width:0;height:0;shape-outside:none;-webkit-shape-outside:none;shape-margin:0;}
.shm-2{display:none;height:0;shape-outside:none;-webkit-shape-outside:none;shape-margin:0;}
.shm-3{display:none;height:0;shape-margin:0;}
.shm-4{display:none;width:0;height:0;shape-margin:0;}
.font{font-size:28px;line-height:49px;}
.pos-5{margin-top:2px;}
.size-5{min-width:303px;width:303px;min-height:307px;height:307px;}
.cont-4{font-size:14px;line-height:25px;}
.shm-5{display:none;width:0;height:0;shape-outside:none;-webkit-shape-outside:none;shape-margin:0;}
.shm-6{display:none;height:0;shape-outside:none;-webkit-shape-outside:none;shape-margin:0;}
.shm-7{display:none;height:0;shape-margin:0;}
.shm-8{display:none;height:0;shape-outside:none;-webkit-shape-outside:none;shape-margin:0;}
.font-2{font-size:14px;line-height:25px;}
.font-3{font-size:14px;line-height:25px;}
.font-4{font-size:33px;line-height:66px;}
.pos-6{margin-left:1px;margin-top:-157px;}
.size-6{min-width:76px;width:76px;min-height:50px;height:50px;}
.font-5{font-size:14px;line-height:25px;}
.pos-7{margin-left:0;margin-top:-125px;}
.size-7{min-width:300px;width:300px;min-height:27px;}
.size-8{min-width:83px;width:83px;min-height:23px;}
.size-9{width:83px;height:15px;}
.font-6{font-size:12px;padding-top:4px;padding-bottom:4px;}
.pos-10{margin-left:72px;}
.size-10{min-width:23px;width:23px;min-height:22px;height:22px;}
.img-3{width:23px;height:22px;}
.img-4{width:23px;height:22px;}
.pos-11{margin-left:14px;margin-top:2px;}
.size-11{min-width:25px;width:25px;min-height:25px;height:25px;}
.img-5{width:25px;height:25px;top:0;}
.img-6{width:25px;height:25px;top:0;}
.pos-12{margin-left:17px;}
.size-12{min-width:24px;width:24px;min-height:23px;height:23px;}
.img-7{width:24px;height:23px;}
.img-8{width:24px;height:23px;}
.pos-13{margin-left:17px;}
.size-13{min-width:25px;width:25px;min-height:26px;height:26px;}
.img-9{width:25px;height:26px;}
.img-10{width:25px;height:26px;}
.shape-device{background-color:rgb(2,2,2);display:none;}
}
@media (max-width:767px) {
.pos{margin-top:0;}
.section{min-width:320px;width:320px;}
.pos-2{margin-left:3px;}
.size{min-width:314px;width:314px;min-height:563px;}
.size-2{min-width:314px;width:314px;min-height:291px;height:291px;}
.img{left:11px;width:292px;height:291px;}
.img-2{left:11px;width:292px;height:291px;}
.pos-4{margin-left:40px;margin-top:-12px;}
.size-3{min-width:234px;width:234px;min-height:284px;}
.size-4{min-width:141px;width:141px;min-height:37px;height:37px;}
.cont-3{font-size:21px;line-height:37px;}
.shm{display:none;width:0;height:0;shape-outside:none;-webkit-shape-outside:none;shape-margin:0;}
.shm-2{display:none;height:0;shape-outside:none;-webkit-shape-outside:none;shape-margin:0;}
.shm-3{display:none;height:0;shape-margin:0;}
.shm-4{display:none;width:0;height:0;shape-margin:0;}
.font{font-size:21px;line-height:37px;}
.pos-5{margin-top:2px;}
.size-5{min-width:234px;width:234px;min-height:206px;height:206px;}
.cont-4{font-family:"Istok Web";font-size:13px;line-height:26px;}
.shm-5{display:none;width:0;height:0;shape-outside:none;-webkit-shape-outside:none;shape-margin:0;}
.shm-6{display:none;height:0;shape-outside:none;-webkit-shape-outside:none;shape-margin:0;}
.shm-7{display:none;height:0;shape-margin:0;}
.shm-8{display:none;height:0;shape-outside:none;-webkit-shape-outside:none;shape-margin:0;}
.font-2{font-size:14px;line-height:25px;}
.font-3{font-size:14px;line-height:25px;}
.font-4{font-size:13px;line-height:26px;}
.pos-6{margin-left:122px;margin-top:-31px;}
.size-6{min-width:84px;width:84px;min-height:26px;height:26px;}
.font-5{font-size:5px;line-height:9px;}
.pos-7{margin-left:0;margin-top:9px;}
.size-7{min-width:234px;width:234px;min-height:30px;}
.pos-8{margin-top:0;}
.size-8{min-width:79px;width:79px;min-height:30px;}
.size-9{width:79px;height:16px;}
.font-6{font-size:13px;padding-top:7px;padding-bottom:7px;}
.pos-10{margin-left:13px;}
.size-10{min-width:24px;width:24px;min-height:24px;height:24px;}
.img-3{width:24px;height:24px;}
.img-4{width:24px;height:24px;}
.pos-11{margin-left:12px;margin-top:3px;}
.size-11{min-width:26px;width:26px;min-height:26px;height:26px;}
.img-5{width:26px;height:26px;top:0;}
.img-6{width:26px;height:26px;top:0;}
.pos-12{margin-left:14px;}
.size-12{min-width:27px;width:27px;min-height:26px;height:26px;}
.img-7{width:27px;height:26px;}
.img-8{width:27px;height:26px;}
.pos-13{margin-left:14px;margin-top:3px;}
.size-13{min-width:25px;width:25px;min-height:25px;height:25px;}
.img-9{width:25px;height:25px;}
.img-10{width:25px;height:25px;}
.vis-5{display:inline-block;}
.pos-14{position:relative;margin-left:35px;margin-top:6px;}
.size-14{min-width:250px;width:250px;min-height:20px;height:20px;}
.cont-11{z-index:10;border:0;background-color:transparent;}
.shape-device{background-color:rgb(3,3,3);display:none;}
}
.pos-15{position:relative;margin-top:75px;}
.pos-16{position:relative;margin-left:0;margin-top:0;}
.size-15{min-width:332px;width:332px;min-height:52px;}
.pos-17{position:relative;margin-left:0;margin-top:15px;}
.size-16{min-width:18px;width:18px;min-height:22px;height:22px;}
.cont-12{pointer-events:auto;}
.img-11{position:absolute;left:0;width:18px;height:19px;top:1px;border:0;}
.img-12{left:0;width:18px;height:19px;top:1px;display:inline-block;}
.pos-18{position:relative;margin-left:0;margin-top:9px;}
.size-17{min-width:59px;width:59px;min-height:33px;height:33px;}
.font-7{font-family:Dosis;font-size:18px;font-weight:600;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:32px;letter-spacing:normal;text-shadow:none;}
.pos-19{position:relative;margin-left:95px;margin-top:0;}
.size-18{min-width:160px;width:160px;min-height:52px;height:52px;}
.font-8{font-family:Dosis;font-size:28px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:49px;letter-spacing:normal;text-shadow:none;}
.pos-20{position:relative;margin-left:-160px;margin-top:157px;}
.pos-21{position:relative;margin-left:-160px;margin-top:209px;}
.size-19{min-width:168px;width:168px;min-height:44px;height:44px;}
.cont-13{z-index:2;pointer-events:auto;}
.font-9{font-family:Dosis;font-size:24px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:43px;letter-spacing:normal;text-shadow:none;}
@media (min-width:960px) and (max-width:1199px) {
.pos-15{margin-top:67px;}
.pos-16{margin-left:39px;}
.size-15{min-width:601px;width:601px;min-height:206px;}
.pos-17{margin-top:5px;}
.size-16{min-width:15px;width:15px;min-height:18px;height:18px;}
.img-11{width:15px;height:16px;}
.img-12{width:15px;height:16px;}
.pos-18{margin-top:0;}
.size-17{min-width:47px;width:47px;min-height:27px;height:27px;}
.font-7{font-size:14px;line-height:25px;}
.pos-19{margin-left:59px;margin-top:62px;}
.size-18{min-width:480px;width:480px;min-height:144px;height:144px;}
.font-8{font-size:29px;line-height:52px;}
.pos-20{margin-left:160px;margin-top:-144px;}
.pos-21{margin-left:-502px;margin-top:-46px;}
.size-19{min-width:134px;width:134px;min-height:35px;height:35px;}
.font-9{font-size:19px;line-height:33px;}
}
@media (min-width:768px) and (max-width:959px) {
.pos-15{margin-top:54px;}
.pos-16{margin-left:31px;}
.size-15{min-width:516px;width:516px;min-height:215px;}
.pos-17{margin-top:4px;}
.size-16{min-width:12px;width:12px;min-height:14px;height:14px;}
.img-11{width:12px;height:13px;top:0;}
.img-12{width:12px;height:13px;top:0;}
.pos-18{margin-top:0;}
.size-17{min-width:38px;width:38px;min-height:21px;height:21px;}
.font-7{font-size:11px;line-height:20px;}
.pos-19{margin-left:82px;margin-top:99px;}
.size-18{min-width:384px;width:384px;min-height:116px;height:116px;}
.pos-20{margin-left:163px;margin-top:-116px;}
.pos-21{margin-left:-437px;margin-top:-87px;}
.size-19{min-width:108px;width:108px;min-height:28px;height:28px;}
.font-9{font-size:15px;line-height:27px;}
}
@media (max-width:767px) {
.pos-15{margin-top:23px;}
.pos-16{margin-left:13px;}
.size-15{min-width:227px;width:227px;min-height:145px;}
.pos-17{margin-top:1px;}
.size-16{min-width:5px;width:5px;min-height:6px;height:6px;}
.img-11{width:5px;height:6px;top:0;}
.img-12{width:5px;height:6px;top:0;}
.pos-18{margin-top:0;}
.size-17{min-width:16px;width:16px;min-height:8px;height:8px;}
.font-7{font-size:4px;line-height:7px;}
.pos-19{margin-left:46px;margin-top:90px;}
.size-18{min-height:55px;height:55px;}
.font-8{font-size:15px;line-height:27px;}
.pos-20{margin-left:80px;margin-top:-55px;}
.pos-21{margin-left:-194px;margin-top:-92px;}
.size-19{min-width:45px;width:45px;min-height:12px;height:12px;}
.font-9{font-size:6px;line-height:11px;}
}
.pos-22{position:relative;margin-top:3px;}
.pos-23{position:relative;margin-left:12px;margin-top:0;}
.size-20{min-width:1179px;width:1179px;min-height:59px;}
.pos-24{position:relative;margin-left:0;margin-top:5px;}
.size-21{min-width:80px;width:80px;min-height:49px;height:49px;}
.cont-14{z-index:11;pointer-events:auto;}
.font-10{font-family:Dosis;font-size:28px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:49px;letter-spacing:normal;text-shadow:none;}
.pos-25{position:relative;margin-left:1001px;margin-top:0;}
.size-22{min-width:53px;width:53px;min-height:59px;height:59px;}
.img-13{position:absolute;left:0;width:53px;height:54px;top:2px;border:0;}
.img-14{left:0;width:53px;height:54px;top:2px;display:inline-block;}
.pos-26{position:relative;margin-left:11px;margin-top:12px;}
.size-23{min-width:34px;width:34px;min-height:35px;height:35px;}
.cont-15{z-index:14;pointer-events:auto;}
.img-15{position:absolute;left:0;width:34px;height:35px;top:0;border:0;}
.img-16{left:0;width:34px;height:35px;top:0;display:inline-block;}
.pos-27{position:relative;margin-left:0;margin-top:1px;}
.size-24{min-width:1200px;width:1200px;min-height:1785px;}
.size-25{min-width:1200px;width:1200px;min-height:549px;}
.cont-16{z-index:2;border:0;background-color:rgb(203,140,160);}
.pos-28{position:relative;margin-left:79px;margin-top:65px;}
.size-26{min-width:600px;width:600px;min-height:400px;height:400px;}
.cont-17{z-index:3;pointer-events:auto;}
.img-17{position:absolute;left:0;width:600px;height:400px;top:0;border:0;}
.img-18{left:0;width:600px;height:400px;top:0;display:inline-block;}
.pos-29{position:relative;margin-left:0;margin-top:-189px;}
.size-27{min-width:1200px;width:1200px;min-height:1425px;}
.pos-30{position:relative;margin-left:0;margin-top:189px;}
.size-28{min-width:1052px;width:1052px;min-height:1236px;}
.size-29{min-width:1039px;width:1039px;min-height:1236px;}
.pos-31{position:relative;margin-left:0;margin-top:0;}
.size-30{min-width:1039px;width:1039px;min-height:380px;height:380px;}
.cont-18{z-index:4;border:0;background-color:rgb(120,168,202);}
.pos-32{position:relative;margin-left:0;margin-top:-268px;}
.size-31{min-width:874px;width:874px;min-height:1124px;}
.pos-33{position:relative;margin-left:0;margin-top:430px;}
.size-32{min-width:387px;width:387px;min-height:694px;}
.size-33{min-width:387px;width:387px;min-height:480px;height:480px;}
.cont-19{z-index:9;border:0;background-color:rgb(167,63,62);}
.size-34{min-width:387px;width:387px;min-height:214px;height:214px;}
.cont-20{z-index:12;border:0;background-color:rgb(128,128,128);}
.pos-34{position:relative;margin-left:-333px;margin-top:0;}
.size-35{min-width:425px;width:425px;min-height:327px;height:327px;}
.cont-21{z-index:18;pointer-events:auto;}
.img-19{position:absolute;left:0;width:425px;height:319px;top:4px;border:0;}
.img-20{left:0;width:425px;height:319px;top:4px;display:inline-block;}
.pos-35{position:relative;margin-left:123px;margin-top:-831px;}
.size-36{min-width:428px;width:428px;min-height:776px;}
.pos-36{position:relative;margin-left:100px;margin-top:0;}
.size-37{min-width:328px;width:328px;min-height:492px;height:492px;}
.cont-22{z-index:17;pointer-events:auto;}
.img-21{position:absolute;left:0;width:328px;height:492px;top:0;border:0;}
.img-22{left:0;width:328px;height:492px;top:0;display:inline-block;}
.pos-37{position:relative;margin-left:0;margin-top:38px;}
.size-38{min-width:428px;width:428px;min-height:246px;height:246px;}
.cont-23{z-index:13;pointer-events:auto;}
.img-23{position:absolute;left:11px;width:405px;height:246px;top:0;border:0;}
.img-24{left:11px;width:405px;height:246px;top:0;display:inline-block;}
.pos-38{position:relative;margin-left:39px;margin-top:-1046px;}
.size-39{min-width:284px;width:284px;min-height:204px;height:204px;}
.cont-24{z-index:16;pointer-events:auto;}
.img-25{position:absolute;left:0;width:284px;height:190px;top:7px;border:0;}
.img-26{left:0;width:284px;height:190px;top:7px;display:inline-block;}
.pos-39{position:relative;margin-left:0;margin-top:-856px;}
.size-40{min-width:1052px;width:1052px;min-height:170px;height:170px;}
.cont-25{z-index:5;border:0;background-color:rgb(90,174,148);}
.pos-40{position:relative;margin-left:387px;margin-top:-1425px;}
.size-41{min-width:813px;width:813px;min-height:1425px;}
.pos-41{position:relative;margin-left:224px;margin-top:0;}
.size-42{min-width:589px;width:589px;min-height:740px;}
.size-43{min-width:481px;width:481px;min-height:361px;height:361px;}
.img-27{position:absolute;left:0;width:481px;height:361px;top:0;border:0;}
.img-28{left:0;width:481px;height:361px;top:0;display:inline-block;}
.pos-42{position:relative;margin-left:297px;margin-top:162px;}
.size-44{min-width:255px;width:255px;min-height:166px;height:166px;}
.cont-26{z-index:15;pointer-events:auto;}
.img-29{position:absolute;left:3px;width:250px;height:166px;top:0;border:0;}
.img-30{left:3px;width:250px;height:166px;top:0;display:inline-block;}
.pos-43{position:relative;margin-left:428px;margin-top:-500px;}
.size-45{min-width:161px;width:161px;min-height:551px;height:551px;}
.cont-27{z-index:6;border:0;background-color:rgb(227,176,131);}
.pos-44{position:relative;margin-left:0;margin-top:-9px;}
.size-46{min-width:813px;width:813px;min-height:694px;}
.cont-28{z-index:8;border:0;background-color:rgb(64,64,64);}
.pos-45{position:relative;margin-left:271px;margin-top:71px;}
.size-47{min-width:474px;width:474px;min-height:339px;height:339px;}
.cont-29{z-index:10;pointer-events:auto;}
.img-31{position:absolute;left:0;width:474px;height:339px;top:0;border:0;}
.img-32{left:0;width:474px;height:339px;top:0;display:inline-block;}
@media (min-width:960px) and (max-width:1199px) {
.pos-22{margin-top:2px;}
.pos-23{margin-left:10px;}
.size-20{min-width:943px;width:943px;min-height:48px;}
.pos-24{margin-top:4px;}
.size-21{min-width:64px;width:64px;min-height:40px;height:40px;}
.font-10{font-size:22px;line-height:39px;}
.pos-25{margin-left:800px;}
.size-22{min-width:43px;width:43px;min-height:48px;height:48px;}
.img-13{width:43px;height:44px;}
.img-14{width:43px;height:44px;}
.pos-26{margin-left:9px;margin-top:10px;}
.size-23{min-width:27px;width:27px;min-height:28px;height:28px;}
.img-15{width:27px;height:28px;}
.img-16{width:27px;height:28px;}
.pos-27{margin-top:0;}
.size-24{min-width:960px;width:960px;min-height:1428px;}
.size-25{min-width:960px;width:960px;min-height:440px;}
.pos-28{margin-left:63px;margin-top:52px;}
.size-26{min-width:480px;width:480px;min-height:320px;height:320px;}
.img-17{width:480px;height:320px;}
.img-18{width:480px;height:320px;}
.pos-29{margin-top:-152px;}
.size-27{min-width:960px;width:960px;min-height:1140px;}
.pos-30{margin-top:152px;}
.size-28{min-width:842px;width:842px;min-height:988px;}
.size-29{min-width:831px;width:831px;min-height:988px;}
.size-30{min-width:831px;width:831px;min-height:304px;height:304px;}
.pos-32{margin-top:-215px;}
.size-31{min-width:699px;width:699px;min-height:899px;}
.pos-33{margin-top:344px;}
.size-32{min-width:310px;width:310px;min-height:555px;}
.size-33{min-width:310px;width:310px;min-height:384px;height:384px;}
.size-34{min-width:310px;width:310px;min-height:171px;height:171px;}
.pos-34{margin-left:-267px;}
.size-35{min-width:340px;width:340px;min-height:262px;height:262px;}
.img-19{width:340px;height:256px;top:3px;}
.img-20{width:340px;height:256px;top:3px;}
.pos-35{margin-left:98px;margin-top:-664px;}
.size-36{min-width:343px;width:343px;min-height:620px;}
.pos-36{margin-left:80px;}
.size-37{min-width:263px;width:263px;min-height:393px;height:393px;}
.img-21{width:263px;height:393px;}
.img-22{width:263px;height:393px;}
.pos-37{margin-top:31px;}
.size-38{min-width:343px;width:343px;min-height:196px;height:196px;}
.img-23{left:10px;width:323px;height:196px;}
.img-24{left:10px;width:323px;height:196px;}
.pos-38{margin-left:31px;margin-top:-836px;}
.size-39{min-width:227px;width:227px;min-height:163px;height:163px;}
.img-25{width:227px;height:152px;top:5px;}
.img-26{width:227px;height:152px;top:5px;}
.pos-39{margin-top:-684px;}
.size-40{min-width:842px;width:842px;min-height:136px;height:136px;}
.pos-40{margin-left:310px;margin-top:-1140px;}
.size-41{min-width:650px;width:650px;min-height:1140px;}
.pos-41{margin-left:179px;}
.size-42{min-width:471px;width:471px;min-height:592px;}
.size-43{min-width:385px;width:385px;min-height:289px;height:289px;}
.img-27{width:385px;height:289px;}
.img-28{width:385px;height:289px;}
.pos-42{margin-left:237px;margin-top:130px;}
.size-44{min-width:204px;width:204px;min-height:133px;height:133px;}
.img-29{left:2px;width:200px;height:133px;}
.img-30{left:2px;width:200px;height:133px;}
.pos-43{margin-left:342px;margin-top:-400px;}
.size-45{min-width:129px;width:129px;min-height:440px;height:440px;}
.pos-44{margin-top:-7px;}
.size-46{min-width:650px;width:650px;min-height:555px;}
.pos-45{margin-left:216px;margin-top:57px;}
.size-47{min-width:380px;width:380px;min-height:271px;height:271px;}
.img-31{width:380px;height:271px;}
.img-32{width:380px;height:271px;}
}
@media (min-width:768px) and (max-width:959px) {
.pos-22{margin-top:2px;}
.pos-23{margin-left:8px;}
.size-20{min-width:754px;width:754px;min-height:119px;}
.pos-24{margin-top:3px;}
.size-21{min-width:78px;width:78px;min-height:116px;height:116px;}
.font-10{font-size:30px;line-height:53px;}
.pos-25{margin-left:574px;}
.size-22{min-height:58px;height:58px;}
.pos-26{margin-left:12px;margin-top:10px;}
.size-23{min-width:37px;width:37px;min-height:39px;height:39px;}
.img-15{width:37px;height:38px;}
.img-16{width:37px;height:38px;}
.pos-27{margin-top:-56px;}
.size-24{min-width:768px;width:768px;min-height:1142px;}
.size-25{min-width:768px;width:768px;min-height:352px;}
.pos-28{margin-left:50px;margin-top:42px;}
.size-26{min-width:384px;width:384px;min-height:256px;height:256px;}
.img-17{width:384px;height:256px;}
.img-18{width:384px;height:256px;}
.pos-29{margin-top:-122px;}
.size-27{min-width:768px;width:768px;min-height:912px;}
.pos-30{margin-top:122px;}
.size-28{min-width:674px;width:674px;min-height:790px;}
.size-29{min-width:665px;width:665px;min-height:790px;}
.size-30{min-width:665px;width:665px;min-height:243px;height:243px;}
.pos-32{margin-top:-172px;}
.size-31{min-width:559px;width:559px;min-height:719px;}
.pos-33{margin-top:275px;}
.size-32{min-width:248px;width:248px;min-height:444px;}
.size-33{min-width:248px;width:248px;min-height:308px;height:308px;}
.size-34{min-width:248px;width:248px;min-height:136px;height:136px;}
.pos-34{margin-left:-214px;}
.size-35{min-width:272px;width:272px;min-height:210px;height:210px;}
.img-19{width:272px;height:205px;top:2px;}
.img-20{width:272px;height:205px;top:2px;}
.pos-35{margin-left:78px;margin-top:-531px;}
.size-36{min-width:275px;width:275px;min-height:496px;}
.pos-36{margin-left:64px;}
.size-37{min-width:211px;width:211px;min-height:315px;height:315px;}
.img-21{width:211px;height:315px;}
.img-22{width:211px;height:315px;}
.pos-37{margin-top:24px;}
.size-38{min-width:275px;width:275px;min-height:157px;height:157px;}
.img-23{left:8px;width:259px;height:157px;}
.img-24{left:8px;width:259px;height:157px;}
.pos-38{margin-left:25px;margin-top:-668px;}
.size-39{min-width:181px;width:181px;min-height:130px;height:130px;}
.img-25{width:181px;height:121px;top:5px;}
.img-26{width:181px;height:121px;top:5px;}
.pos-39{margin-top:-547px;}
.size-40{min-width:674px;width:674px;min-height:109px;height:109px;}
.pos-40{margin-left:248px;margin-top:-912px;}
.size-41{min-width:520px;width:520px;min-height:912px;}
.pos-41{margin-left:143px;}
.size-42{min-width:377px;width:377px;min-height:474px;}
.size-43{min-width:308px;width:308px;min-height:232px;height:232px;}
.img-27{width:308px;height:232px;}
.img-28{width:308px;height:232px;}
.pos-42{margin-left:190px;margin-top:104px;}
.size-44{min-width:163px;width:163px;min-height:106px;height:106px;}
.img-29{left:2px;width:160px;height:106px;}
.img-30{left:2px;width:160px;height:106px;}
.pos-43{margin-left:274px;margin-top:-320px;}
.size-45{min-width:103px;width:103px;min-height:352px;height:352px;}
.pos-44{margin-top:-6px;}
.size-46{min-width:520px;width:520px;min-height:444px;}
.pos-45{margin-left:173px;margin-top:46px;}
.size-47{min-width:304px;width:304px;min-height:217px;height:217px;}
.img-31{width:304px;height:217px;}
.img-32{width:304px;height:217px;}
}
@media (max-width:767px) {
.pos-22{margin-top:1px;}
.pos-23{margin-left:3px;}
.size-20{min-width:313px;width:313px;min-height:53px;}
.pos-24{margin-top:1px;}
.size-21{min-width:111px;width:111px;min-height:52px;height:52px;}
.pos-25{margin-left:112px;}
.size-22{min-width:50px;width:50px;min-height:53px;height:53px;}
.img-13{width:50px;height:51px;top:1px;}
.img-14{width:50px;height:51px;top:1px;}
.pos-26{margin-left:4px;margin-top:9px;}
.size-23{min-width:36px;width:36px;}
.img-15{width:36px;}
.img-16{width:36px;}
.pos-27{margin-top:0;}
.size-24{min-width:320px;width:320px;min-height:476px;}
.size-25{min-width:320px;width:320px;min-height:146px;}
.pos-28{margin-left:8px;margin-top:10px;}
.size-26{min-width:191px;width:191px;min-height:127px;height:127px;}
.img-17{width:191px;height:127px;}
.img-18{width:191px;height:127px;}
.pos-29{margin-top:-91px;}
.size-27{min-width:320px;width:320px;min-height:421px;}
.pos-30{margin-top:70px;}
.size-28{min-width:281px;width:281px;min-height:351px;}
.size-29{min-width:277px;width:277px;min-height:351px;}
.pos-31{margin-top:21px;}
.size-30{min-width:277px;width:277px;min-height:102px;height:102px;}
.pos-32{margin-top:-123px;}
.size-31{min-width:267px;width:267px;min-height:351px;}
.pos-33{margin-top:166px;}
.size-32{min-width:103px;width:103px;min-height:185px;}
.size-33{min-width:103px;width:103px;min-height:128px;height:128px;}
.size-34{min-width:103px;width:103px;min-height:57px;height:57px;}
.pos-34{margin-left:-69px;}
.size-35{min-width:149px;width:149px;min-height:114px;height:114px;}
.img-19{width:149px;height:112px;top:1px;}
.img-20{width:149px;height:112px;top:1px;}
.pos-35{margin-left:11px;margin-top:-257px;}
.size-36{min-width:173px;width:173px;min-height:246px;}
.pos-36{margin-left:0;}
.size-37{min-width:114px;width:114px;min-height:171px;height:171px;}
.img-21{width:114px;height:171px;}
.img-22{width:114px;height:171px;}
.pos-37{margin-left:17px;margin-top:-14px;}
.size-38{min-width:156px;width:156px;min-height:89px;height:89px;}
.img-23{left:5px;width:147px;height:89px;}
.img-24{left:5px;width:147px;height:89px;}
.pos-38{margin-left:165px;margin-top:-265px;}
.size-39{min-width:102px;width:102px;min-height:74px;height:74px;}
.img-25{width:102px;height:69px;top:2px;}
.img-26{width:102px;height:69px;top:2px;}
.pos-39{margin-top:-228px;}
.size-40{min-width:281px;width:281px;min-height:45px;height:45px;}
.pos-40{margin-left:103px;margin-top:-421px;}
.size-41{min-width:217px;width:217px;min-height:421px;}
.pos-41{margin-left:62px;}
.size-42{min-width:155px;width:155px;min-height:288px;}
.size-43{min-width:147px;width:147px;min-height:110px;height:110px;}
.img-27{width:147px;height:110px;}
.img-28{width:147px;height:110px;}
.pos-42{margin-left:49px;margin-top:113px;}
.size-44{min-width:101px;width:101px;min-height:65px;height:65px;}
.img-29{left:2px;width:98px;height:65px;}
.img-30{left:2px;width:98px;height:65px;}
.pos-43{margin-left:112px;margin-top:-197px;}
.size-45{min-width:43px;width:43px;min-height:147px;height:147px;}
.pos-44{margin-top:-52px;}
.size-46{min-width:217px;width:217px;min-height:185px;}
.pos-45{margin-left:30px;margin-top:29px;}
.size-47{min-width:167px;width:167px;min-height:119px;height:119px;}
.img-31{width:167px;height:119px;}
.img-32{width:167px;height:119px;}
}
