# Site settings
title: Manik Kumar
description: My Portfolio and Blog.
url: https://manik.cc
baseurl: ""

# Build settings
markdown: kramdown
highlighter: rouge
paginate: 5
paginate_path: "/blog/page:num/"

# Sass settings
sass:
  sourcemap: never
  style: compressed

# Plugins
plugins:
  - jekyll-sitemap
  - jekyll-paginate

# Collections
collections:
  projects:
    output: true
    permalink: /projects/:path/

# Defaults
defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: ""
      type: "projects"
    values:
      layout: "project"
  - scope:
      path: ""
    values:
      layout: "default"
