---
layout: default
description: "Manik's personal website and blog"
---
<div class="desc">
	<p> 
        Hi! I am <b>Manik,</b> a software developer who lives in Seattle, these days I help build software for <b>Kindle</b> apps and devices. I graduated from <b>Northeastern University</b> in Boston.
        <br/><br/>
        I'm also an amateur photographer who spends a lot of my free time exploring photography.
        <br/>
    </p>
<br>

{% capture blog_content %}
<div class="blog">
    <ol>
        {% for post in site.posts %}
        <li>
            {% if post.type == "external" %}
                <a href="{{ post.link }}" target="_blank">{{ post.title }}</a><span class="date"> {{ post.date | date: '%Y-%m' }}
            {% else %}
                <a href="{{ post.url }}">{{ post.title }}</a><span class="description"> {{ post.date | date: '%Y-%m' }}
            {% endif %}
        </li>
        {% endfor %}
    </ol>
</div>
{% endcapture %}

{% include expandable-section.html 
   id="blog-archive" 
   title="<b>Archive</b>" 
   content=blog_content 
   expanded=true 
%}