---
import Post from '../../layouts/Post.astro';
import ImageGallery from '../../components/ImageGallery.astro';
import Charm from '../../components/charms/Charm.astro';
---
<Post
  title="Photos"
  description="Photos I've taken"
  image="/assets/images/previews/photo.jpg"
>
  <p>
    I occasionally update this webpage with new pictures.
    You can also follow my <a id="tiktok-link" href="https://www.tiktok.com/@fake4plastic4trees">TikTok</a> or my <a id="insta-link" href="https://www.instagram.com/m.xnik">Instagram!</a>
  </p>

  <ImageGallery
    source="https://media.manik.cc/photos/manifest.json"
    galleryName="photos"
    showCaptions={false}
  >
    <Charm slot="charm" anchor="top-right" x="1em" y="-1.1em" rotate={-10} class="charm--canister">
      <span class="charm-fx">
        <img class="charm-fx__body" src="/assets/images/site/film_canister.png" alt="" decoding="async" />
      </span>
    </Charm>
  </ImageGallery>
</Post>
