<footer class="c-page__footer">
  
  <p>
    {% if site.email %}<a href="mailto:{{ site.email }}">Mail</a>{% endif %}<span class="u-separate"></span>
    {% if site.linkedin_username %}<a href="https://linkedin.com/in/{{ site.linkedin_username }}">Linkedin</a>{% endif %}<span class="u-separate"></span>
    {% if site.twitter_username %}<a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a>{% if site.github_username %}<span class="u-separate"></span>
    {% endif %}{% endif %}{% if site.github_username %}<a href="https://github.com/{{ site.github_username }}">Github</a>{% endif %}
  </p>
</footer>
