<!-- <img src="assets/profile.JPG" class="me"></img>
</br>
</br> -->
</br>
<div class="header">
    <ul>
        {% for item in site.data.navigation %}
        <li>
            <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="nav">
    <div class="site-title"> <a href=".">Manik</a> </div>
    <ul>
        <li><a href="/about">about</a></li>
        <li><a href="/projects">projects</a></li>
        <li><a href="https://github.com/mnk400" target="_blank">github</a></li>
        <li><a href="https://linkedin.com/in/manik-kumar" target="_blank">linkedin</a></li>
        <li><a href="https://instagram.com/m.xnik" target="_blank">photos</a></li>
    </ul>
</div>
