{% comment %}
  Imgur Album Component
  
  Usage:
  {% include imgur-album.html album_hash="YOUR_ALBUM_HASH" description="Optional description text" %}
  
  Parameters:
  - album_hash: Required. The Imgur album hash ID.
  - description: Optional. Text description to display above the album.
  - loading_text: Optional. Text to display while loading images. Default: "Loading images..."
{% endcomment %}

<div class="imgur-album">
  {% if include.description %}
  <p>{{ include.description }}</p>
  <br>
  {% endif %}
  
  <div id="loading-{{ include.album_hash }}" class="loading">
    <p>{{ include.loading_text | default: "Loading images..." }}</p>
  </div>
  
  <div class="album-container" id="album-container-{{ include.album_hash }}"></div>
  
  <script>
    // Set album hash for the imgurreader.js script
    const ALBUM_HASH = '{{ include.album_hash }}';
    const ALBUM_CONTAINER_ID = 'album-container-{{ include.album_hash }}';
    const LOADING_ID = 'loading-{{ include.album_hash }}';
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
  <script src="{{ '/assets/js/imgurreader.js' | relative_url }}"></script>
</div>
