<template id="music-card-template">
    <div class="album-item reveal-card">
        <div class="reveal-card__media">
            <img class="img-curved-edges" data-field="image">
            <div class="reveal-card__overlay">
                <div class="reveal-card__copy">
                    <p class="reveal-card__title" data-field="title"></p>
                    <p class="reveal-card__meta" data-field="subtitle"></p>
                </div>
                <span class="reveal-card__meta reveal-card__meta--bottom" data-field="playcount"></span>
            </div>
        </div>
    </div>
</template>
