<template id="music-card-template">
    <div class="album-item">
        <div class="album-image-container">
            <img class="img-curved-edges" data-field="image">
            <div class="music-card-overlay">
                <div>
                    <p class="music-card-title" data-field="title"></p>
                    <p class="music-card-subtitle" data-field="subtitle"></p>
                </div>
                <span class="music-card-playcount" data-field="playcount"></span>
            </div>
        </div>
    </div>
</template>
