{% if page.url contains '/more/music' %}
<a
    href="https://www.last.fm/user/mnk_400"
    class="music-widget"
    id="music-widget"
    target="_blank"
>
    {% else %}
    <a href="/more/music" class="music-widget" id="music-widget">
        {% endif %}
        <div class="music-widget-content">
            <div class="music-widget-art-wrapper">
                <div class="music-widget-art-placeholder"></div>
                <img
                    id="music-widget-art"
                    class="music-widget-art img-curved-edges"
                    src="/assets/album-placeholder.png"
                    alt="Album art"
                />
            </div>
            <div class="music-widget-info">
                <span class="music-widget-info-placeholder">Loading track…</span>
                <span id="music-widget-track" class="music-widget-track"></span>
                <span class="music-widget-separator"> - </span>
                <span
                    id="music-widget-artist"
                    class="music-widget-artist"
                ></span>
            </div>
            <i class="ph-bold ph-link music-widget-arrow"></i>
        </div>
    </a>
    <script src="/assets/js/media/lastfm.js"></script>
</a>
