{% comment %}
  Range Slider Component
  
  Usage:
  {% include range-slider.html id="your-id" value="50" min="0" max="100" unit="Units" %}
  
  Parameters:
  - id: Required. The base ID for the slider elements.
  - value: Required. The initial value of the slider.
  - min: Required. The minimum value of the slider.
  - max: Required. The maximum value of the slider.
  - unit: Required. The unit to display next to the value.
{% endcomment %}

<div class="range-width-container" data-range-slider>
    <p class="range-value">{% if include.unit and include.unit != '' %}{{ include.unit }} · {% endif %}<span id="{{ include.id }}-value">{{ include.value }}</span></p>
    <input type="range" id="{{ include.id }}-input" value="{{ include.value }}" min="{{ include.min }}" max="{{ include.max }}">
</div>
