{% comment %}
  Selection Switch Component
  
  Usage:
  {% assign my_options = "option1:Label 1,option2:Label 2,option3:Label 3" | split: "," %}
  {% include selection-switch.html id="my-switch" options=my_options default_active="option1" %}
  
  Parameters:
  - id: Required. Unique identifier for this switch group.
  - class: Optional. Additional CSS classes to apply to the switch container.
  - size: Optional. Set to "small" for compact switches (e.g., in settings panels).
  - options: Required. Array of options in format "value:label".
  - default_active: Optional. The value of the option that should be active by default.
{% endcomment %}

<div class="selection-switch{% if include.size == 'small' %} selection-switch--small{% endif %} {{ include.class }}" id="{{ include.id }}">
  {% for option_raw in include.options %}
    {% assign option_parts = option_raw | split: ":" %}
    {% assign option_value = option_parts[0] %}
    {% assign option_label = option_parts[1] | default: option_parts[0] %}
    
    {% assign is_active = false %}
    {% if include.default_active == option_value %}
      {% assign is_active = true %}
    {% elsif include.default_active == null and forloop.first %}
      {% assign is_active = true %}
    {% endif %}
    
    <span 
      id="{{ option_value }}" 
      class="switch-option{% if is_active %} active{% endif %}"
      data-value="{{ option_value }}"
    >
      {{ option_label }}
    </span>
  {% endfor %}
</div>
