// =============================================================================
// POST STYLES
// =============================================================================

// Post layout
.post {
    padding-bottom: var(--spacing-2xl);

    &__back {
        display: inline;
        text-align: left;
        display: block;
        margin-bottom: 25px;
    }

    &__date {
        font-size: 0.75em;
        text-align: left;
        color: var(--sec-text-color);
        font-weight: 200;
        margin-bottom: var(--spacing-xl);
    }

    &__title {
        font-size: 24pt;
        font-weight: 500;
        margin-bottom: var(--spacing-md);
        text-align: left;
        line-height: 1.1em;
    }

    &__content {
        color: var(--text-color);

        hr {
            width: 10%;
            color: var(--background-main);
            opacity: 60%;
        }

        ul {
            font-size: 12pt;
            list-style: disc;
            padding-bottom: var(--spacing-md);
            line-height: 1.3em;
            margin-left: var(--spacing-lg);
            color: var(--sec-text-color);
        }

        p + ol {
            margin-top: -8px;
            margin-bottom: var(--spacing-md);
        }

        p + ul {
            margin-top: -10px;
            margin-bottom: var(--spacing-md);
        }

        ol {
            list-style: disc;
            padding-bottom: var(--spacing-md);
            line-height: 1.65em;
            margin-left: var(--spacing-lg);
        }

        li {
            padding-top: 3px;
            padding-bottom: 3px;
            padding-left: 2px;
        }

        img {
            max-width: 100%;
            padding-top: var(--spacing-md);
            padding-bottom: var(--spacing-md);
            display: block;
            margin: 0 auto;
        }

        .img-curved-edges {
            padding: 0 !important;
            max-width: 100%;
            display: block;
            margin-top: var(--spacing-md);
            margin-bottom: var(--spacing-md);
            border-radius: var(--radius-md);
        }

        .note {
            background: var(--note-bg);
            font-style: italic;
            display: inline-block;
            padding: var(--spacing-md);
            color: var(--sec-text-color);

            a {
                line-height: 25px;
                text-decoration: underline;
                text-decoration-color: currentcolor;
                text-decoration-thickness: auto;
                text-decoration-color: var(--color-link-underline);
                text-decoration-thickness: 0.125em;
                text-underline-offset: 2.5px;
            }
        }

        // Syntax-highlighted code blocks
        .highlight {
            max-width: 650px;
            margin-left: -20%;
            transform: translateX(10%);
            padding: 40px;
            line-height: 16pt;
            font-weight: 200;
            overflow-x: scroll;
            background: var(--code-bg);
            font-size: 11pt;
            font-family: "IBM Plex Mono", monospace;
            font-weight: 200;
            color: var(--text-color);
            margin-bottom: var(--spacing-lg);
        }

        .lineno {
            color: var(--color-line-number);
            padding-right: var(--spacing-sm);
            border-right: 1px solid var(--color-code-border);
            margin-right: var(--spacing-md);
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .codebreak {
            margin: var(--spacing-lg);
            border: 0;
            border-bottom: 1px dashed var(--color-code-break);
        }
    }
}

.post__description {
    color: var(--sec-text-color);
    font-size: 0.8em;
    margin-top: 0.2em;
    margin-bottom: -0.3em;
}
