:root[data-theme="light"] {
    --background-main: #f2f0ef;
    --background-darker: #f8f5f3;
    --text-color: #3b3b3b;
    --sec-text-color: #656565;
    --red-accent: #b25e71;
    --black-accent: rgba(0, 0, 0, 0.7);
    --black-accent-hover: rgba(0, 0, 0, 0.5);
    --min-translucent: rgb(0, 0, 0, 0.07);
    --code-bg: #ebe9e8;
    --note-bg: #d8f2fd;
}

:root[data-theme="dark"] {
    --background-main: #1a1a1a;
    --background-darker: #2a2a2a;
    --text-color: #d0d0d0;
    --sec-text-color: #b0b0b0;
    --red-accent: #9f5465;
    --black-accent: rgba(256, 256, 256, 0.1);
    --black-accent-hover: rgba(256, 256, 256, 0.3);
    --min-translucent: rgb(256, 256, 256, 0.07);
    --code-bg: #212121;
    --note-bg: #4a606a;
}

/* Ensure the html and body elements take up full height */
html, body {
    height: 100%;
    min-height: 100vh;
}

/* Transitions only applied when the transition class is present */
html.theme-transition {
    transition: background-color 0.4s ease;
}

/* Video background styles */
#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease;
}

#background-video.visible {
    opacity: 0.6;
}
