---
---

// Base styles
@import "base/variables";
@import "base/reset";
@import "base/typography";

// Layout
@import "layout/wrapper";
@import "layout/header";

// Components
@import "components/buttons";
@import "components/cards";
@import "components/grids";
@import "components/forms";
@import "components/lightbox";

// Pages
@import "pages/post";
@import "pages/home";
@import "pages/games";
@import "pages/music";
@import "pages/tools";
@import "pages/ipod";

// Utilities
@import "utilities/helpers";

// Legacy imports (to be removed after migration)
@import url(bw.css);

// Legacy styles - these will be moved to components gradually
.me {
    width: 100%;
}

hr {
    color: var(--background-main);
    opacity: 60%;
}

// Legacy styles - these will be gradually moved to appropriate component files
ul {
    list-style: none;
    align-items: baseline;

    li {
        padding: var(--spacing-xs);
        padding-left: var(--spacing-md);

        @media screen and (max-width: $breakpoint-mobile) {
            padding: var(--spacing-md) 0;
        }
    }
}

// Wiki page styles
.wiki-image img {
    width: 100%;
}



// Social link hover colors
@media (any-hover: hover) {
    #insta-link:hover {
        color: #b6393d;
    }

    #tiktok-link:hover {
        color: #9860d5;
    }
}

#insta-link.touch-hover {
    color: #b6393d;
}

#tiktok-link.touch-hover {
    color: #9860d5;
}
