/*
 *
 *   Music Page with Last.fm data
 *
 */

 /* Now Playing Container, with album metadata/art */

.now-playing-container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    padding: 5px 15px;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    background: var(--mid-translucent);
}

.now-playing-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.now-playing-info {
    flex-grow: 1;
    margin-top: -5px;
}

.playing-or-no {
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 15px;
}

.track-title, .artist-name, .album-name {
    font-size: 0.9em;
}

/* Toggle Buttons to change things */

.view-controls {
    margin-bottom: 20px;
}

/* Removed specific button styling as it's now in main.scss */

.loading {
    margin: 20px 0;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .album-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
/* Album Grid and Artist List */

.album-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.album-item {
    text-align: center;
    width: 100%;
    height: 100%;
    margin-bottom: -0.7em;
    position: relative;
}

.album-image-container {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.album-image-container img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.album-info-overlay {
    position: absolute;
    top: 10px;
    bottom: -10px;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0.8em;
    border-radius: 6px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.album-image-container:hover .album-info-overlay,
.album-info-overlay.show-overlay {
    opacity: 1;
    border-radius: 6px;
}

.album-info-overlay .album-title {
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.2em !important;
    word-break: break-word;
}

.album-info-overlay .artist-name-overlay {
    color: rgba(255, 255, 255, 0.9);
    font-size: 0.8em !important;
    font-weight: 600;
    margin-top: -10px;
    word-break: break-word;
}
