/* 
 *   
 *   Styles of imgur photo albums
 *   
 */

.album-container {
    max-width: 100%;
    padding: 0;
    margin: 0 auto;
    column-count: 2;
    column-gap: 10px;
}

.image-card {
    break-inside: avoid;
    margin-bottom: -10px;
    cursor: pointer;
}

.image-wrapper img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    cursor: pointer;
}

.lightbox img {
    max-width: 90%;
    max-height: 90vh;
    border-radius: 8px !important;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.lightbox-close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    z-index: 1001;
    width: 40px;
    height: 40px;
    background-color: var(--black-accent);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    transition: background-color 0.2s ease;
}

.lightbox-close:hover {
    background-color: var(--red-accent);
}

#insta-link:hover {
    color: #b6393d;
}

#tiktok-link:hover {
    color: #9860d5;
}