---
import Post from '../layouts/Post.astro';
---
<Post
  title="Page Not Found"
  image="/assets/images/site/404.jpg"
>
  <img
    src="/assets/images/site/404.jpg"
    alt="A cat hiding upside down under a couch"
    class="img-curved-edges"
  />

  <p>This page slipped somewhere strange. It may have moved, or it may not exist yet.</p>

  <p><a href="/">take me home</a></p>
</Post>
