---
import Post from '../../../layouts/Post.astro';
import ArchiveIndex from '../../../components/ArchiveIndex.astro';
import ExpandableSection from '../../../components/ExpandableSection.astro';
import { getMoreGroups } from '../../../lib/more.ts';
import Charm from '../../../components/charms/Charm.astro';

const group = getMoreGroups().find((entry) => entry.path === 'archive/paintings');
const hub = group?.hub;
const paintings = group?.items ?? [];
---
<Post
  title={hub?.title ?? 'Archive of Paintings'}
  description={hub?.description}
  image={hub?.image}
>
  <Charm slot="header-charm" anchor="top-right" x="-0.4em" y="-0.2em" rotate={6} class="charm--pearl">
    <span class="charm-fx">
      <img class="charm-fx__body" src="/assets/images/site/pearl.png" alt="" decoding="async" />
    </span>
  </Charm>

  <p class="paintings-hub__intro">
    A small browser for public-domain paintings and artwork from artists I like, each archive is searchable, sortable, and filterable.
  </p>

  <ExpandableSection id="archive-motivation" title="Why I built this">
    <p>
      All of this art is public domain, but most archives that host it are either wiki-style with rough navigation, museum pages with a limited set of artwork, or buried under ads.
    </p>
    <p>
      These pages are an attempt at a cleaner alternative. Started with Monet because nothing like it seemed to exist for him, then grew to cover a handful of other artists I like.
    </p>
  </ExpandableSection>

  <ArchiveIndex items={paintings} idPrefix="painting" showMeta />
</Post>
